@import url(https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200);
a {
    display: block;
    text-decoration: none;
    color: inherit;
}

img {
    max-width: 100%;
    vertical-align: middle;
    height: auto;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 1,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48
}
.cur-point{
    cursor: pointer;
}
.btn{
    font-weight: bold;
}
.btn-primary{
    color: $secondary;
    &:hover,&:disabled{
        background-color: #80E142;
        color: #0D1F00;
    }
}
.btn-outline-primary:hover,.btn-outline-primary:disabled{
    border-color: #80E142;
    color: #80E142;
    background: $white;
}
.btn-secondary{
    color: $primary;
    &:hover,&:disabled{
        background-color: #0D1F00;
        color: #80E142;
    }
}
.btn-outline-secondary:hover,.btn-outline-secondary:disabled{
    border-color: #0D1F00;
    color: #0D1F00;
    background: $white;
}