<footer class="container-fluid bg-secondary-subtle py-lg-4 py-3">
  <div class="row flex-column flex-lg-column-reverse gap-4">
    <!-- logo -->
    <div class="col col-lg-4 mx-auto text-center">
      <a href="../pages/index.html">
        <img src="../assets/images/en_logo.png" alt="logo" class="footer-logo" />
      </a>
    </div>

    <div class="col d-flex flex-column-reverse flex-lg-column align-items-center gap-4">
      <ul class="d-flex align-items-center gap-l p-0 mb-0 small">
        <li><a class="text-decoration-underline" href="../pages/about.html">用戶須知</a></li>
        <li><a class="text-decoration-underline" href="../pages/contact.html">聯繫客服</a></li>
        <li><a class="text-decoration-underline" href="../pages/terms.html">服務條款</a></li>
      </ul>
      <ul class="d-flex align-items-center gap-4 p-0 mb-0 link-icons">
        <li>
          <a href="https://www.facebook.com/" target="_blank">
            <img src="../assets/images/icon-facebook.svg" alt="" />
          </a>
        </li>
        <li>
          <a href="https://www.instagram.com/" target="_blank">
            <img src="../assets/images/icon-instagram.svg" alt="" />
          </a>
        </li>
        <li>
          <a href="https://www.youtube.com/" target="_blank">
            <img src="../assets/images/icon-youtube.svg" alt="" />
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>

<!-- 聯繫客服 -->
<div class="footer-fixed d-flex flex-column gap-2">
  <a href="../pages/contact.html" class="footer-tooltips"
  data-bs-toggle="tooltip" data-bs-placement="top" title="聯繫客服">
    <span class="material-symbols-outlined outline-icon">
      mail
    </span>
  </a>
  
  <span class="material-symbols-outlined scroll-top">
    arrow_upward
    </span>
</div>
