
<nav class="navbar navbar-expand-lg bg-white sticky-top navbar-secondary p-3 shadow-sm">
  <div class="container-fluid d-flex justify-content-around ms-auto ">

    <!-- logo -->

    <div class="container d-flex">
    <a class="navbar-brand" href="index.html">
      <img src="../assets/images/en_logo.png" style="width: 150px;" alt="三角購客logo"></a>
    </div>
    

    <!-- 折疊  -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  
    <div class="collapse navbar-collapse d-flex justify-content-around ms-auto" id="navbarSupportedContent">
    </button>
   <!-- 螢幕顯示  -->
    <!-- <div class="mx-auto my-3 d-lg-block d-none d-xs-none">  -->

     
 <!-- 樣式 -->
      
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 d-flex align-items-baseline">
 
        <!-- 平台  -->


  <li class="nav-item dropdown d-lg-block d-md-none d-sm-none">
    <a class="nav-link dropdown-toggle text-nowrap " href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
      平台
    </a>
    <ul class="dropdown-menu " aria-labelledby="navbarDropdown">
      <li><a class="dropdown-item active text-nowrap " href="#">平台</a></li>
      <li><a class="dropdown-item text-nowrap" href="#">關鍵字</a></li>
    </ul>
  </li>

    <!-- 搜尋 -->
        
    <form class="d-flex" >
      <input class="form-control me-2  d-lg-block d-md-none d-sm-none" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-white text-gray-500 " type="submit"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
          <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
        </svg></button>
    </form>


 <!-- 小鈴鐺 -->

 <p>
  <a class="btn btn-white" data-bs-toggle="collapse" href="#collapseNotice" role="button" aria-expanded="false" aria-controls="collapseNotice">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bell-fill" viewBox="0 0 16 16">
      <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zm.995-14.901a1 1 0 1 0-1.99 0A5.002 5.002 0 0 0 3 6c0 1.098-.5 6-2 7h14c-1.5-1-2-5.902-2-7 0-2.42-1.72-4.44-4.005-4.901z"/>
    </svg>
  </a>
</p>
<div class="collapse " id="collapseNotice">
  <div class="card card-body">
    恭喜您，「Javascript 核心篇」課程審核通過！<br> 2023-01-23 12:00:00
  </div>
  <div class="card card-body">
    顯示更多
  </div>
</div>

      <!--課程清單 -->

      <li class="nav-item text-nowrap d-lg-block d-md-none d-sm-none">
        <a class="nav-link" href="course.html">課程清單</a>
      </li>

      <!-- <p  >
        <a class="btn btn-white text-nowrap d-lg-block d-md-none d-sm-none" data-bs-toggle="collapse" href="#collapseList" role="button" aria-expanded="false" aria-controls="collapseList">
         課程清單
        </a>
      </p>
      <div class="collapse" id="collapseList">
        <div class="card card-body hover-style">
          Javascript 核心篇1
        </div>
        <div class="card card-body hover-style">
          Javascript 核心篇2
        </div>
        <div class="card card-body hover-style">
          Javascript 核心篇3
        </div>
        <div class="card card-body hover-style">
          Javascript 核心篇4
        </div>
        <div class="card card-body hover-style">
          顯示更多
        </div>
      </div> -->

      <!-- 我的課程 -->

      <!-- <li class="nav-item text-nowrap d-lg-block d-md-none d-sm-none">
        <a class="nav-link" href="#">我的課程</a>
      </li> -->


      <p >
        <a class="btn btn-white text-nowrap d-lg-block d-md-none d-sm-none " data-bs-toggle="collapse" href="#collapseMycourse" role="button" aria-expanded="false" aria-controls="collapseMycourse">
          我的課程
        </a>
      </p>
      <div class="collapse" id="collapseMycourse">
        <div class="card card-body hover-style">
         <a href="coursepages.html">Javascript 核心篇</a> 
        </div>
        <div class="card card-body hover-style">
          Javascript 核心篇2
        </div>
        <div class="card card-body hover-style">
          Javascript 核心篇3
        </div>
        <div class="card card-body hover-style">
          Javascript 核心篇4
        </div>
        <div class="card card-body hover-style">
          顯示更多
        </div>
      </div>

      <!-- 會員專區-->
      <li class="nav-item dropdown d-lg-block d-md-none d-sm-none ">
        <a class="nav-link dropdown-toggle text-nowrap" href="user.html" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          會員專區
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          <li><a class="dropdown-item hover-style text-nowrap" href="#">關注清單</a></li>
          <li><a class="dropdown-item hover-style text-nowrap" href="achievement.html">徽章成就</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item text-nowrap" href="#"> 登出</a></li>
        </ul>
      </li>

      <!-- 登入 -->

     <button class="btn btn-outline-secondary btn-sm text-nowrap align-self-sm-md-center" onclick="myFunction()" id="myBtn">登入/註冊</button>


    
</ul>
</div>

</nav>

<!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script> -->


