<nav class="navbar navbar-expand-lg bg-white sticky-top navbar-secondary p-3 shadow-sm flex-sm-nowrap">
  <div class="container-fluid d-flex justify-content-around ms-auto ">

    <!-- logo -->

    <div class="container d-flex">
      <a class="navbar-brand" href="index.html">
        <img src="../assets/images/en_logo.png" style="width: 150px;" alt="三角購客logo">
      </a>
    </div>


    <!-- 折疊  -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>

      <div class="collapse navbar-collapse d-flex justify-content-around ms-auto" id="navbarSupportedContent">
    </button>
    <!-- 螢幕顯示  -->
    <!-- <div class="mx-auto my-3 d-lg-block d-none d-xs-none">  -->


    <!-- 樣式 -->

    <ul class="navbar-nav me-auto mb-2 mb-lg-0 d-flex align-items-baseline">

      <!-- 平台  -->


      <li class="nav-item dropdown d-lg-block d-md-none d-sm-none">
        <a class="nav-link dropdown-toggle text-nowrap " href="#" id="navbarDropdown" role="button"
          data-bs-toggle="dropdown" aria-expanded="false">
          平台
        </a>
        <ul class="dropdown-menu " aria-labelledby="navbarDropdown">
          <li><a class="dropdown-item active text-nowrap " href="#">平台</a></li>
          <li><a class="dropdown-item text-nowrap" href="#">關鍵字</a></li>
        </ul>
      </li>

      <!-- 搜尋 -->

      <form class="d-flex">
        <input class="form-control me-2  d-lg-block d-md-none d-sm-none" type="search" placeholder="Search"
          aria-label="Search">
        <button class="btn btn-white text-gray-500 " type="submit"><svg xmlns="http://www.w3.org/2000/svg" width="16"
            height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
            <path
              d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
          </svg></button>
      </form>


      <!-- 小鈴鐺 -->

      <p>
        <a class="btn btn-white" data-bs-toggle="collapse" href="#collapseNotice" role="button" aria-expanded="false"
          aria-controls="collapseNotice">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bell-fill"
            viewBox="0 0 16 16">
            <path
              d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zm.995-14.901a1 1 0 1 0-1.99 0A5.002 5.002 0 0 0 3 6c0 1.098-.5 6-2 7h14c-1.5-1-2-5.902-2-7 0-2.42-1.72-4.44-4.005-4.901z" />
          </svg>
        </a>
      </p>
      <div class="collapse " id="collapseNotice">
        <div class="card card-body">
          恭喜您，「Javascript 核心篇」課程審核通過！<br> 2023-01-23 12:00:00
        </div>
        <div class="card card-body">
          顯示更多
        </div>
      </div>

      <!--課程清單 -->

      <li class="nav-item text-nowrap d-lg-block d-md-none d-sm-none">
        <a class="nav-link" href="course.html">課程清單</a>
      </li>

      <!-- <p  >
        <a class="btn btn-white text-nowrap d-lg-block d-md-none d-sm-none" data-bs-toggle="collapse" href="#collapseList" role="button" aria-expanded="false" aria-controls="collapseList">
         課程清單
        </a>
      </p>
      <div class="collapse" id="collapseList">
        <div class="card card-body hover-style">
          Javascript 核心篇1
        </div>
        <div class="card card-body hover-style">
          Javascript 核心篇2
        </div>
        <div class="card card-body hover-style">
          Javascript 核心篇3
        </div>
        <div class="card card-body hover-style">
          Javascript 核心篇4
        </div>
        <div class="card card-body hover-style">
          顯示更多
        </div>
      </div> -->

      <!-- 我的課程 -->

      <!-- <li class="nav-item text-nowrap d-lg-block d-md-none d-sm-none">
        <a class="nav-link" href="#">我的課程</a>
      </li> -->


      <p>
        <a class="btn btn-white text-nowrap d-lg-block d-md-none d-sm-none " data-bs-toggle="collapse"
          href="#collapseMycourse" role="button" aria-expanded="false" aria-controls="collapseMycourse">
          我的課程
        </a>
      </p>
      <div class="collapse" id="collapseMycourse">
        <div class="card card-body hover-style">
          <a href="coursepages.html">Javascript 核心篇</a>
        </div>
        <div class="card card-body hover-style">
          Javascript 核心篇2
        </div>
        <div class="card card-body hover-style">
          Javascript 核心篇3
        </div>
        <div class="card card-body hover-style">
          Javascript 核心篇4
        </div>
        <div class="card card-body hover-style">
          顯示更多
        </div>
      </div>

      <!-- 會員專區-->
      <li class="nav-item dropdown d-lg-block d-md-none d-sm-none ">
        <a class="nav-link dropdown-toggle text-nowrap" href="user.html" id="navbarDropdown" role="button"
          data-bs-toggle="dropdown" aria-expanded="false">
          會員專區
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          <li><a class="dropdown-item hover-style text-nowrap" href="#">關注清單</a></li>
          <li><a class="dropdown-item hover-style text-nowrap" href="achievement.html">徽章成就</a></li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li><a class="dropdown-item text-nowrap" href="#"> 登出</a></li>
        </ul>
      </li>

      <!-- 登入 -->

      <button type="button" class="btn btn-outline-secondary btn-sm text-nowrap" data-bs-toggle="modal"
        data-bs-target="#account">
        登入 / 註冊
      </button>


    </ul>
  </div>

</nav>

<!-- 登入註冊modal -->
<div class="modal fade" id="account" tabindex="-1" aria-labelledby="accountLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered  ">
    <div class="modal-content login-modal p-3">
      <div class="modal-header border-bottom-0">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="close"></button>
      </div>

      <div class="modal-body mb-3">
        <ul class="nav nav-tabs justify-content-center container mb-4" role="tablist" id="account-tab">
          <li class="nav-item tabs-item" role="presentation">
            <button class="nav-link tab fw-bold active" id="login-tab" data-bs-toggle="tab" data-bs-target="#login"
              type="button" role="tab" aria-controls="login" aria-selected="true">登入</button>
          </li>

          <li class="nav-item tabs-item" role="presentation">
            <button class="nav-link tab fw-bold" id="register-tab" data-bs-toggle="tab" data-bs-target="#register"
              type="button" role="tab" aria-controls="register" aria-selected="false">註冊</button>
          </li>
        </ul>

        <div class="modal-content login-modal border-0">
          <div class="tab-content" id="tab-content">
            <div class="tab-pane fade show active" id="login" role="tabpanel" aria-labelledby="login-tab">
              <form class="login-form container form-content d-flex flex-column justify-content-between">
                <div class="form-floating">
                  <input type="email" class="form-control" id="login-email" name="login-email" placeholder="name@example.com">
                  <label for="login-email">信箱</label>
                </div>
                <div class="form-floating">
                  <input type="password" class="form-control" id="login-password" name="login-password" placeholder="Password" autocomplete="on">
                  <label for="login-password">密碼</label>
                </div>
                <div class="d-flex flex-column gap-4">
                  <button class="btn btn-secondary" type="submit" id="login-btn">登入會員</button>
                  <button class="btn btn-outline-secondary" id="forget-btn" type="button">忘記密碼</button>

                </div>
              </form>
            </div>

            <div class="tab-pane fade" id="register" role="tabpanel" aria-labelledby="register-tab">
              <form class="container  form-content">
                <div class="form-floating mb-3">
                  <input type="email" class="form-control" id="floating-input" placeholder="name@example.com">
                  <label for="floating-input">信箱（註冊後不可更改）</label>
                </div>
                <div class="form-floating mb-3">
                  <input type="nickname" class="form-control" id="floating-nickname" placeholder="nickname">
                  <label for="floating-nickname">暱稱（日後可更改，最多 5 字）</label>
                </div>
                <div class="form-floating mb-3">
                  <input type="password" class="form-control" id="floating-password" placeholder="Password" autocomplete="on">
                  <label for="floating-password">密碼</label>
                </div>
                <button class="btn btn-secondary w-100">註冊會員</button>
              </form>
            </div>


          </div>
        </div>
        <div class="slide-forget" id="forget">
          <form class="container">
            <div class="d-flex flex-column align-items-center mb-3">
              <span class="material-symbols-outlined lock-icon mb-3">lock_reset</span>
              <h2 class="title fs-4 fw-bold">忘記密碼 ?</h2>
            </div>
            <div class="form-floating mb-3">
              <input type="email" class="form-control" id="user-email" placeholder="name@example.com">
              <label for="user-email">信箱</label>
            </div>
            <div class="mb-3">
              <button class="btn btn-secondary w-100" type="button">寄送重設密碼連結</button>
            </div>
            <div class="d-flex justify-content-center">
              <a href="#" class="back fw-bold" id="back-btn">返回登入</a>
            </div>
          </form>
        </div>

      </div>
    </div>
  </div>
</div>


<!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script> -->