<nav class="page-nav container my-3" aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    <li class="page-item p-hover">
      <a class="page-link" href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li class="page-item page-prev p-hover active">
      <a class="page-link" href="#">1</a>
    </li>
    <li class="page-item p-hover"><a class="page-link" href="#">2</a></li>
    <li class="page-item p-hover"><a class="page-link" href="#">3</a></li>
    <li class="page-item p-hover"><a class="page-link" href="#">4</a></li>
    <li class="page-item p-hover"><a class="page-link" href="#">5</a></li>
    <li class="page-item page-next p-hover">
      <a class="page-link" href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>
