<nav class="container d-flex justify-content-center py-5">
    <ul class="nav d-flex justify-content-center gap-2" role="tablist">
        <li class="nav-item mb-2" role="presentation">
            <a class="nav-link fs-6 fw-bold" aria-current="page" href="./user.html" role="tab" data-toggle="tab" data-page="user">會員資料</a>
        </li>
        <li class="nav-item mb-2" role="presentation">
            <a class="nav-link fs-6 fw-bold" href="./user_courses.html" role="tab" data-toggle="tab" data-page="user_courses">我的課程</a>
        </li>
        <li class="nav-item mb-2" role="presentation">
            <a class="nav-link fs-6 fw-bold" href="./user_wishlist.html" role="tab" data-toggle="tab" data-page="user_wishlist">關注清單</a>
        </li>
        <li class="nav-item mb-2" role="presentation">
            <a class="nav-link fs-6 fw-bold" href="./achievement.html" role="tab" data-toggle="tab" data-page="achievement">徽章成就</a>
        </li>
    </ul>
</nav>