.card {
    overflow: hidden;
    border: none;

    &:hover {
        box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.09);
    }

    img {
        width: 100%;

    }

    .card-footer {
        border: none;
        background: #fff;
    }
}