.footer-logo{
  width: 20vw;
  min-width: 150px;
  max-width: 300px;
  object-fit: contain;

}

.link-icons{
  img{
    @media (min-width: 992px) {
      width: 32px;
      height: 32px;
    }
  }
}

.footer-fixed{
  position: fixed;
  right: 16px;
  bottom: 40px;
  z-index: 30;
  span{
    cursor: pointer;
    width: 64px;
    height: 64px;
    background-color: #16330014;
    border-radius: 50%;
    line-height: 64px;
    text-align: center;
    transition: background-color 1s;
    &:hover{
      transition: background-color 1s;
      background-color: #16330046;
    }
  }
}