.loading{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2000;
    background-color: $primary;
    display: flex;
    justify-content: space-around;
    opacity: 0;
    transition: opacity 1s;
    overflow: hidden;
}