.page-nav .pagination {
    --bs-pagination-border-radius: 0;
}

.page-link {
    border: none;
    color: $secondary;

    &:hover {
        background: #fff;
        border-bottom: 2px solid $secondary;
    }
}