.form-required::before{
    content: '*';
    color: $danger;
    margin-right: .2rem;
    vertical-align: middle;
}
.prove-img{
    max-height: 150px;
    object-fit: cover;
}
.comment-style0{ // 便條紙樣式
    border-radius: 1rem;
    padding: $spacer * 3;
    .comment-style1::after , .comment-style1::before{
        display: none;
    }
}
.comment-style1{ // 書籤樣式
    padding: $spacer * 4 $spacer * 3;
    position: relative;
    &::after,&::before{
        position: absolute;
        top: 0;
        right: 0;
        content: '';
        width: 6rem;
        height: 2rem;
        background-color: $primary;
        border: 1px solid $secondary;
    }
    &::before{
        transform: translate(50%, 60%) rotate(-50deg);
        transform-origin: left;
    }
    &::after{
        transform: translate(40%, 50%) rotate(-10deg);
        transform-origin: left;
    }
}
.btn-state{
    width: 120px;
    height: 120px;
    padding: 1rem;
    text-align: center;
    border-radius: 50%;
    transform: rotate(15deg);
}


#editor—wrapper {
    border: 1px solid $secondary;
}
.w-e-bar-divider{
background-color: $secondary;
}
#toolbar-container { border-bottom: 1px solid $secondary; width: 100%; }
#editor-container { min-height: 10rem;}
.w-e-max-length-info{visibility: hidden;}