.circle {
  color: white;
  font-weight: bold;
  border-radius: 50%;
  background: lightgray;
  padding: 5px;
  margin-bottom: 10px;

  &:hover {
    background-color: $secondary;
  }
}
.link-hover:hover{
    font-weight: bold;
}

.blackboard {
//   background:url("../assets/images/blackboard.png") no-repeat center / cover;
  background-color: $secondary;
  padding: 20px;
  border: 5px solid $primary;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);

  .pic {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &-mark{
    position: absolute;
    background-color: rgba(0, 0, 0, .2);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    cursor: pointer;
    &:hover{
    transition: background 1s;
    background-color: rgba(0, 0, 0, .5);
    }
  }
}

.course-cover{
  min-height: 200px;
  max-height: 350px;
  width: 100%;
  object-fit: cover;
}

.course-link-icon{
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 10rem;
}


.favorite {
display: flex;
justify-content: space-around;
  .material-symbols-outlined:hover {
    font-variation-settings: 'FILL' 1;
  }
}

.course-page-nav::before{
  content: '';
  width: 170px;
  height: 60px;
  background-color: $primary;
  position: absolute;
  z-index: -2;
  transform: skewX(-30deg);
  left: 30px;
  opacity: .7;
}

.nav-comment-link{
  cursor: pointer;
  position: relative;
  margin: 0;
  &.active{
    font-weight: bold;
    border-bottom: 2px solid $secondary;
  }
  mix-blend-mode: multiply ;
  
  &:hover{
    font-weight: bold;
    &::after{
      content: '';
      width: 3rem;
      height: 30px;
      border-radius: 30px;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      position: absolute;
      background-color: $primary;
      opacity: .8;
      z-index: -1;
    }
  }
}

.thumb-up{
  font-variation-settings: 'FILL' 0;
  &:hover{
    font-variation-settings: 'FILL' 1;
  }
  &.active{
    font-variation-settings: 'FILL' 1;
  }
}

.swiper-wrapper{
  padding: 0;
}