.notebook-page {
  &-left, &-right {
    width: 40%; /* 設定內頁寬度 */
    margin: 0 auto; /* 內頁位置 */
    margin-right: 10px; /* 筆記本左頁專用值 */
    padding: 5% 2.5% 20px; /* 添加內容內邊距 */
    background-color: #fff; /* 內頁背景顏色 */
    border: 1px solid #ddd; /* 內頁邊框 */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* 內頁陰影效果 */
    position: relative; /* 添加紙張紋理 */
  }
  &-right { /* 更正筆記本右頁值 完善視覺效果 */
    margin-right: none;
    margin-left: 10px
  }
  &-left::before, &-right::before {
    content: '';
    position: absolute;
    top: -10px;
    left: -5px;  /* 筆記本左頁專用值 */
    right: -10px; /* 筆記本左頁專用值 */
    bottom: -10px;
    border: solid 1px #ddd;
    border-right: solid 1.5px #666;
    z-index: -1;
  }
  &-right::before { /* 更正筆記本右頁值 完善視覺效果 */
    left: -10px; 
    right: -5px;
    border-right: solid 1px #ddd;
    border-left: solid 1.5px #666;
  }
}
.single-note {
  img {
    max-width: 150px;
    min-height: auto;
  }
}