.user-card {
  padding: 20px;

  .card-header {
    background: #fff;
    border: 0;
  }

  .card-logo {
    width: auto;
    height: 40px;
  }
  img {
    height: 100%;
  }
}
.change {
  position: absolute;
  width: 50px;
  height: 50px;
  bottom: 0;
  right: 0;
  margin: 10px 20px;
  background: #fff;

  &:hover {
    background: #fff;
    opacity: 0.8;
  }
  @include mob {
    margin: 30px 30px;
  }
}
.prev-icon {
  font-size: 32px;
}
.album {
  img {
    opacity: 0.7;
    &:hover {
      opacity: 1;
    }
  }
}
.albumPic-active {
  border-radius: 25px;
  overflow: hidden;
  transition: 0.5s;
  img{
    opacity: 1;
  }
}
