.remove-wishlist{
  z-index: 3;
  cursor: pointer;
}
.wishlist-note-card {
  position: relative;
  overflow: hidden;
  transition: transform 0.2s;
  &::before {
    content: "";
    position: absolute;
    right: -50%;
    bottom: 0;
    width: 50%;
    height: 100%;
    background-color: $secondary;
    opacity: 95%;
    z-index: 1;
    transition: right 0.3s ease-in-out;
  }

  &:hover::before {
    right: 0;
    height: 100%;
    width: 50%;
    opacity: 95%;
  }
  
  &-btn {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 50%;
    z-index: 2;
    opacity: 0;
  }

  &:hover .wishlist-note-card-btn {
    display: block;
    opacity: 1;
  }
}