.notebook-cards-group{
  min-height: 34.75em;
  min-width: 40%;
  @media (max-width: 992px){
    min-height: auto;
    min-width: none;
  }
}
.notebook-page {
  &-left, &-right {
    margin-right: 4px; /* 筆記本左頁專用值 */
    padding: 2em 2em 20px; /* 添加內容內邊距 */
    background: linear-gradient(to right,$gray-200,$white 5%, 97%,$gray-200 99%);
    border: 1px solid #ddd; /* 內頁邊框 */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* 內頁陰影效果 */
    position: relative; /* 添加紙張紋理 */
  }
  // &-right { /* 更正筆記本右頁值 完善視覺效果 */
  //   margin-left: 4px;
  //   background: linear-gradient(to left,$gray-200,$white 5%, 97%,$gray-200 99%);
  // }
  &-left::before, &-right::before {
    content: '';
    position: absolute;
    top: -10px;
    left: -15px;  /* 筆記本左頁專用值 */
    right: -15px; /* 筆記本左頁專用值-5px */
    bottom: -10px;
    border: solid 1px #ddd;
    border-right: solid 1.5px #666;
    z-index: -1; 
    background-color: $secondary;
  }
  &-left::after{  /* 中間分隔線 */
      position: absolute;
      left: 50%;
      top: -4px;
      z-index: 3;
      content: '';
      width: 4px;
      height: 101%;
      background: $secondary;
      @media(max-width: 992px){
        display: none;
      }
    }
  }
  // &-right::before { /* 更正筆記本右頁值 完善視覺效果 */
  //   left: -5px; 
  //   right: -15px;
  //   border-right: solid 1px #ddd;
  //   border-left: solid 1.5px #666;
  // }
// }
// .notebook-pages-only {  /* 搭配v1筆記本樣式 */
//   position: relative;
//   &::before{
//     position: absolute;
//     left: 47.5%;
//     top: 0;
//     z-index: 3;
//     content: '';
//     width: 4px;
//     height: 97%;
//     background: $secondary;
//   }
// }
.single-note {
  @media (max-width: 414px) {
    flex-direction: column; /* 垂直排列內容 */
    align-items: center; /* 水平置中內容 */
    text-align: center; /* 文字置中對齊 */
    }
  img {
    object-fit: cover;
  }
}
.bookmark {
  z-index: 3;
  width: 6em;
  li {
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
    padding: 0.25em;
    word-break: break-all;
    line-height: 1.2;
  }
  &-unselected{
    position: relative;
    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #ddd; /* 半透明灰色背景 */
      z-index: auto; /* 確保覆蓋在 li 上方 */
      opacity: 0.75; /* 初始狀態下顯示半透明灰色背景 */
      transition: opacity 0.4s ease; /* 添加過渡效果 */
    }
    &:hover::after {
      opacity: 0.5; /* 懸停時透明度降低 */
    }
  }
  &-mobile{
    li{
      max-width: 5em;
      padding: 0.25em;
      word-break: break-all;
      line-height: 1.2;
    }
  }
}
.single-note-card {
  position: relative;
  overflow-y: hidden;
  overflow-x: visible;
  transition: transform 0.2s; /* 添加變換效果 */

  &-btn{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0 10%;
    z-index: 2;
    opacity: 0;
    transition: transform 0.2s, opacity 0.2s; /* 添加變換和透明度效果 */
  }
  &:hover .single-note-card-btn {
    display: block; /* 顯示按鈕 */
    opacity: 1;
  }

  &::before {
    content: "";
    position: absolute;
    bottom: -50%; /* 開始位置在底部之下 */
    left: 0;
    width: 100%;
    height: 40%; /* 半透明底色的起始高度 */
    background-color: $black; /* 半透明底色 */
    opacity: 75%;
    z-index: 1; /* 確保覆蓋在 card 上方 */
    transition: bottom 0.3s ease-in-out; /* 過渡效果 下方滑入 */
  }
  &:hover::before {
    bottom: 0; /* 滑入到底部 */
    height: 100%; /* 半透明底色的目標高度 */
  }
}

.vertical-line {
  width: 2px; /* 設定分隔線的寬度 */
  height: 75%;
  background-color: #fff;
  margin: 0 10%; /* 設定左右邊距 */
}
.star-fs{
  font-size: 10px;
  @media(min-width: 768px){
    font-size: 20px;
  }
}
.comment-alerttag{
  top: 1em;
  left: -0.75em;
  position: absolute;
  z-index: 3;
  overflow: visible;
}

.box-shadow{
  width: 70%;
  padding: 4px;
  background-color: #dadada;
  margin: 0 auto;
  border-radius: 50%;
}
.user-empty{
  z-index: 5;
  margin: 0 auto;
  padding: 35% 10%;
  background: $secondary;
  min-height: 34.75em;
  min-width: 40%;
}