<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>徽章成就</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <main class="container py-md-xxl py-xl">
      <div class="row flex-column-reverse gy-5 py-md-0 flex-md-row">
        <!-- 徽章圖鑑 -->
        <div class="col border border-secondary border-4 py-xxl text-center position-relative d-flex flex-column justify-content-around badge-book position-relative ">
          <span class="badge-circle badge-circle-top"></span>
          <span class="badge-circle badge-circle-middle"></span>
          <span class="badge-circle badge-circle-bottom"></span>
          <!-- 封面 start -->
          <!-- <h1>徽章圖鑑</h1>
          <p>請選擇欲察看之徽章</p> -->
          <!-- 封面 end -->

          <!-- 內頁 start -->
          <article class="px-4 flex-grow-1">
            <div>
              <span class="btn bg-secondary text-primary float-end py-2 px-3">已獲得</span>
              <img src="https://images.unsplash.com/photo-1683009427513-28e163402d16?ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxlZGl0b3JpYWwtZmVlZHwxfHx8ZW58MHx8fHx8&auto=format&fit=crop&w=500&q=60" alt="" height="250" class="w-100 my-3" style="object-fit: cover;">
            </div>
            <section class="text-start">
              <h2 class="fs-5 mb-4">完課徽章 - LV 1</h2>
              <p class="mb-0">獲得途徑:</p>
              <p>上傳完課證明3次</p>
            </section>
          </article>
          <button type="button" class="btn btn-danger position-absolute set-avatar rounded-circle fs-4">設為頭像</button>
          <!-- 內頁 end -->
        </div>
        <!-- 徽章墻 -->
        <div class="col">
          <div class="badge-table-cur d-flex flex-column justify-content-around p-5 gap-3 position-relative">
            <span class="badge-table-top position-absolute"></span>
            <span class="badge-table-right"></span>

            <div class="table-first bg-gray-300 flex-grow-1 p-2 pb-3 d-flex flex-column">
              <p class="mb-2">完課徽章</p>
              <div class="row row-cols-3 flex-grow-1">
                <img class="col img-fluid" src="https://images.unsplash.com/photo-1683009427513-28e163402d16?ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxlZGl0b3JpYWwtZmVlZHwxfHx8ZW58MHx8fHx8&auto=format&fit=crop&w=500&q=60" alt="">
                <img class="col img-fluid" src="https://images.unsplash.com/photo-1683009427513-28e163402d16?ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxlZGl0b3JpYWwtZmVlZHwxfHx8ZW58MHx8fHx8&auto=format&fit=crop&w=500&q=60" alt="">
                <img class="col img-fluid" src="https://images.unsplash.com/photo-1683009427513-28e163402d16?ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxlZGl0b3JpYWwtZmVlZHwxfHx8ZW58MHx8fHx8&auto=format&fit=crop&w=500&q=60" alt="">
              </div>
            </div>
            <div class="table-middle d-flex justify-content-around flex-grow-1 gap-3">
              <div class="table-middle-left bg-gray-300 flex-grow-1 p-3 pt-2 text-center d-flex flex-column">
                <p class="mb-2">入門徽章</p>
                <div class="row flex-grow-1">
                  <img class="col img-fluid" src="https://images.unsplash.com/photo-1683009427513-28e163402d16?ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxlZGl0b3JpYWwtZmVlZHwxfHx8ZW58MHx8fHx8&auto=format&fit=crop&w=500&q=60" alt="">
                </div>
              </div>
              <div class="table-middle-rigth bg-gray-300 flex-grow-1 p-3 pt-2 text-center d-flex flex-column">
                <p class="mb-2">申課徽章</p>
                <div class="row flex-grow-1">
                  <img class="col img-fluid" src="https://images.unsplash.com/photo-1683009427513-28e163402d16?ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxlZGl0b3JpYWwtZmVlZHwxfHx8ZW58MHx8fHx8&auto=format&fit=crop&w=500&q=60" alt="">
                </div>
              </div>
            </div>
            <div class="table-bottom bg-gray-300 flex-grow-1 p-2 pb-3 d-flex flex-column">
              <p class="mb-2">學習徽章</p>
              <div class="row row-cols-3 flex-grow-1">
                <img class="col img-fluid" src="https://images.unsplash.com/photo-1683009427513-28e163402d16?ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxlZGl0b3JpYWwtZmVlZHwxfHx8ZW58MHx8fHx8&auto=format&fit=crop&w=500&q=60" alt="">
                <img class="col img-fluid" src="https://images.unsplash.com/photo-1683009427513-28e163402d16?ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxlZGl0b3JpYWwtZmVlZHwxfHx8ZW58MHx8fHx8&auto=format&fit=crop&w=500&q=60" alt="">
                <img class="col img-fluid" src="https://images.unsplash.com/photo-1683009427513-28e163402d16?ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxlZGl0b3JpYWwtZmVlZHwxfHx8ZW58MHx8fHx8&auto=format&fit=crop&w=500&q=60" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
