<!DOCTYPE html>
<html lang="zh-TW">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  <!-- 富文本編輯器 wangeditor -->
  <link href="https://unpkg.com/@wangeditor/editor@latest/dist/css/style.css" rel="stylesheet">

  <title>我的評價</title>
</head>

<body>
  <%- include('./layout/nav'); -%>

    <main class="container">

      <h2 class="page-title fw-bold my-4">完課評價－<span>JavaScript 核心篇</h2>

      <form action="#" class="needs-validation" id="comment-form" novalidate>
        <div class="row g-3 g-lg-0 g-lg-5 mb-4">
          <div class="col-12 col-lg-6 d-flex flex-column">
            <div class="mb-3 row">
              <div class="col">
                <label for="course-img" class="form-label form-required fs-5">完課證明：</label>
                <!-- .is-invalid 控制錯誤訊息提示是否出現 -->
                <input type="url" class="form-control" id="course-img" name="course-img"
                  placeholder="請輸入圖片網址(url)" required>
                <p class="text-gray-400 mb-0">(請由右側預覽，檢查完課證明是否正常顯示)</p>
                <div class="invalid-feedback">請輸入證明圖片網址</div>
              </div>
              <div class="col-5">
                <img src="" alt="完課證明" class="prove-img">
              </div>
            </div>
            <div class="mb-3">
              <h3 class="fs-5">名稱顯示：</h3>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="public-name" id="show-name" value="1" checked>
                <label class="form-check-label cur-point" for="show-name">顯示暱稱</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="public-name" id="anonymous" value="0">
                <label class="form-check-label cur-point" for="anonymous">匿名發表</label>
              </div>
            </div>
            <div class="scores-choose mb-3">
              <h3 class="fs-5 form-required course-scores">課程評分：</h3>
              <div class="stars-icon d-flex text-primary me-2">
                <span class="material-symbols-outlined cur-point outline-icon" value="1">star</span>
                <span class="material-symbols-outlined cur-point outline-icon" value="2">star</span>
                <span class="material-symbols-outlined cur-point outline-icon" value="3">star</span>
                <span class="material-symbols-outlined cur-point outline-icon" value="4">star</span>
                <span class="material-symbols-outlined cur-point outline-icon" value="5">star</span>
              </div>
              <div class="invalid-feedback">請為課程評分</div>
            </div>
            <div class="flex-grow-1 d-flex flex-column">
              <h3 class="fs-5 form-required course-content">課程評價：</h3>
              <!-- 文字編輯器 start -->
              <div id="editor—wrapper" class="flex-grow-1">
                <div id="toolbar-container"><!-- 工具栏 --></div>
                <div id="editor-container"><!-- 编辑器 --></div>
              </div>
              <!-- 文字編輯器 end -->
              <p class="text-gray-400 mb-0">最多不超過 100 字</p>
              <div class="invalid-feedback">請輸入課程評價</div>
            </div>
          </div>
          <div class="col border-top border-top-lg-0 pt-4 border-start-lg">
            <div id="curr-course" class="card mb-3"></div>
            <div class="mb-3">
              <h3 class="fs-5">評價主題：</h3>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="comment-style" id="note" value="0" checked>
                <label class="form-check-label cur-point" for="note">便條紙</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="comment-style" id="bookmark" value="1">
                <label class="form-check-label cur-point" for="bookmark">書籤</label>
              </div>
            </div>
            <!-- 評價主題 comment-style0:便條紙 comment-style1:書籤 -->
            <article class="comment-view bg-secondary text-primary fw-bold w-90 w-lg-100">
              <div class="stars-icon d-flex text-primary float-end comment-scores">
                <span class="material-symbols-outlined outline-icon" value="1">star</span>
                <span class="material-symbols-outlined outline-icon" value="2">star</span>
                <span class="material-symbols-outlined outline-icon" value="3">star</span>
                <span class="material-symbols-outlined outline-icon" value="4">star</span>
                <span class="material-symbols-outlined outline-icon" value="5">star</span>
              </div>
              <!-- 評論者姓名 -->
              <p class="fs-5 comment-userName"></p>
              <!-- 評價預覽內容 -->
              <p class="fs-4 comment-content"></p>
            </article>
          </div>
        </div>

        <div class="d-flex justify-content-end gap-4">
          <a href="./user_courses.html" class="btn btn-lg btn-outline-secondary px-5">取消</a>
          <input type="submit" class="btn btn-lg btn-secondary px-5" value="送出">
        </div>
      </form>

    </main>

    <%- include('./layout/footer'); -%>

      <script type="module" src="../main.js"></script>
      <script type="module" src="../assets/js/comment.js"></script>
</body>

</html>