<!DOCTYPE html>
<html lang="zh-TW">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
         <!-- 富文本編輯器 wangeditor -->
        <link href="https://unpkg.com/@wangeditor/editor@latest/dist/css/style.css" rel="stylesheet">
  <!-- <script src="https://cdn.ckeditor.com/ckeditor5/39.0.0/classic/ckeditor.js"></script>
  <script src="https://cdn.ckbox.io/ckbox/2.0.0/ckbox.js"></script> -->
  <title>我的評價</title>
</head>

<body>
  <%- include('./layout/header'); -%>
  <main class="container">
    <h2 class="page-title fw-bold mb-4">完課評價－<span>JavaScript 核心篇</h2>

    <form action="#">
      <div class="row g-3 g-lg-0 g-lg-5 mb-4">
        <div class="col-12 col-lg-6 d-flex flex-column">
          <div class="mb-3">
            <label for="courseImg" class="form-label form-required fs-5">完課證明：</label>
            <input type="url" class="form-control" id="courseImg" name="courseImg" placeholder="請輸入圖片網址(url)">
            <p class="text-gray-400">(請由右側預覽，檢查完課證明是否正常顯示)</p>
          </div>
          <div class="mb-3">
            <h3 class="fs-5">名稱顯示：</h3>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="public-name" id="showName" value="1" checked>
              <label class="form-check-label cur-point" for="showName">顯示暱稱</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="public-name" id="anonymous" value="0">
              <label class="form-check-label cur-point" for="anonymous">匿名發表</label>
            </div>
          </div>
          <div class="scores-choose mb-3">
            <h3 class="fs-5 form-required">課程評分：</h3>
            <div class="stars-icon d-flex text-primary me-2">
                <span class="material-symbols-outlined cur-point">star</span>
                <span class="material-symbols-outlined cur-point">star</span>
                <span class="material-symbols-outlined cur-point outline-icon">star</span>
                <span class="material-symbols-outlined cur-point outline-icon">star</span>
                <span class="material-symbols-outlined cur-point outline-icon">star</span>
            </div>
          </div>
          <div class="flex-grow-1 d-flex flex-column">
            <h3 class="fs-5 form-required">課程評價：</h3>
            <!-- 文字編輯器 start -->
            <div id="editor—wrapper" class="flex-grow-1">
              <div id="toolbar-container"><!-- 工具栏 --></div>
              <div id="editor-container"><!-- 编辑器 --></div>
            </div>
            <!-- 文字編輯器 end -->
            <p class="text-gray-400 mb-0">最多不超過 100 字</p>
          </div>
        </div>
        <div class="col border-top border-top-lg-0 pt-4 border-start-md">
          <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
              <div class="col-lg-4">
                <img src="https://fakeimg.pl/350x200/?text=Hello" class="img-fluid rounded-start" alt="JavaScript 核心篇">
              </div>
              <div class="col-lg-8">
                <div class="card-body">
                  <h4 class="card-title text-truncate">JavaScript 核心篇</h4>
                </div>
                <div class="card-footer">
                  <div class="tags mb-2 mt-auto">
                      <span class="fs-8 me-2">#程序</span>
                  </div>
              </div>
              </div>
            </div>
          </div>
          <div class="mb-3">
            <h3 class="fs-5">評價主題：</h3>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="comment-style" id="note" value="0" checked>
              <label class="form-check-label cur-point" for="note">便條紙</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="comment-style" id="bookmark" value="1">
              <label class="form-check-label cur-point" for="bookmark">書籤</label>
            </div>
          </div>
          <!-- 評價主題 comment-style0:便條紙 comment-style1:書籤 -->
          <article class="bg-secondary text-primary fw-bold comment-style1 w-90 w-lg-100">
            <div class="stars-icon d-flex text-primary float-end">
              <span class="material-symbols-outlined ">star</span>
              <span class="material-symbols-outlined">star</span>
              <span class="material-symbols-outlined outline-icon">star</span>
              <span class="material-symbols-outlined outline-icon">star</span>
              <span class="material-symbols-outlined outline-icon">star</span>
          </div>
            <p class="fs-5">汪汪：</p>
            <p class="fs-4">一開始只會跟著照抄而已，很多地方都不是很理解，但是慢慢地也越來越理解為什麼要這樣寫，很推薦這門課大家可以參考看看</p>
          </article>
        </div>
      </div>

      <div class="d-flex justify-content-end gap-4">
        <input type="button" class="btn btn-lg btn-outline-secondary px-5" value="取消">
        <input type="submit" class="btn btn-lg btn-secondary px-5" value="送出">
      </div>
    </form>

  </main>

  <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
    <script type="module" src="../assets/js/comment.js"></script>
</body>

</html>