<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link href="
https://cdn.jsdelivr.net/npm/sweetalert2@11.7.27/dist/sweetalert2.min.css
" rel="stylesheet">
    <title>課程內頁</title>
</head>

<body>
    <%- include('./layout/header'); -%>
        <main class="container">
            <div class="page-header my-4">
                <a href="course.html"> 
                    <span class="material-icons">
                    chevron_right 返回列表
                </a> 
            </span>
            </div>
         
            <!-- 課程介紹 -->
            <div class=" d-flex justify-content-around g-lg-6 g-md-4 g-2 flex-lg-nowrap flex-md-nowrap flex-sm-wrap">

            <!-- 課程標題 -->
            <div class="main-course g-lg-6 g-md-4 g-2">

            <span class="course-title d-flex justify-content-between mb-3 align-items-center">
            <span class="d-flex justify-content-between">
            <button class="btn btn-outline-secondary text-nowrap fw-bold bg-white m-auto">六角學院</button>
            <h1 class="page-title fw-bold text-nowrap ms-2">JavaScript 核心篇</h1>
        </span>
            <button class="favorite material-symbols-outlined outline-icon border-3 rounded-circle p-auto text-secondary bg-white fw-bold fill-icon " style="height: 2.5rem;">favorite</button>      
        </span>
            <!-- 課程圖片 -->

            <div class="blackboard mb-3 g-lg-6 g-md-4 g-2">
            <div class="pic">

                            <span class="material-symbols-outlined position-absolute text-white top-0 start-0 " style="font-size: 4rem;">
                                military_tech
                                </span>

                        <span class="material-symbols-outlined position-absolute text-secondary bottom-0 end-0 " style="font-size: 5rem;">
                            format_ink_highlighter
                            </span>

                <img src="https://images.unsplash.com/photo-1587620962725-abab7fe55159?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2831&q=80" alt="JavaScript 核心篇
                " class="card-pic">
            </div>
        </div>




            <!-- 評分 -->
            <div class="stars-icon d-flex text-primary">
                <span class="material-symbols-outlined" style="font-size: 3rem;">star</span>
                <span class="material-symbols-outlined" style="font-size: 3rem;">star</span>
                <span class="material-symbols-outlined" style="font-size: 3rem;">star</span>
                <span class="material-symbols-outlined" style="font-size: 3rem;">star</span>
                <span class="material-symbols-outlined outline-icon" style="font-size: 3rem;">star</span>
              </div>


            <!-- 標籤 -->

            <div class="course-label mt-2 ">
                <p class="h6">標籤：</p>
            <div class="switch-tabs d-flex justify-content-between mb-4">
                <ul class="nav nav-pills gap-2">
                    <li class="nav-item">
                        <button class="btn btn-outline-secondary">程式</button>
                    </li>

                    <li class="nav-item">
                        <button class="btn btn-outline-secondary">JS</button>
                    </li>
                    <li class="nav-item">
                        <button class="btn btn-outline-secondary">JavaScript</button>
                    </li>
                </ul>
            </div>
                   
                </ul>
            </div>

        </div>





    

   <!-- 課程進修室 -->
<div class="study align-self-center g-lg-6 g-md-4 g-2">

    <!-- 小測驗 -->
                 <form class="needs-validation d-flex flex-column bg-primary bg-gradient p-4 m-4" novalidate>

                    <div class="mb-3">
                        <h4 class="text-nowrap text-center">課堂小測</h4>
                    </div>

                     <div class="mb-3">
                         <label class="form-label form-required fw-bold mb-1 text-nowrap" for="course-name">1. 該課程的名字是？</label>
                         <input class="form-control small py-1 ps-2" id="course-name" type="text"
                             placeholder="請輸入答案" required>
                         <div class="invalid-feedback">
                            請輸入答案
                         </div>
                     </div>

                     <div class="mb-3">
                         <label class="form-label form-required fw-bold mb-1 text-nowrap"
                             for="brand-name">2. 該課程上架於哪個平台?</label>
                         <input class="form-control small py-1 ps-2" id="brand-name" type="text"
                             placeholder="請輸入平台名稱" required>
                         <div class="invalid-feedback">
                             請輸入平台名稱
                         </div>
                     </div>


                    <!-- 送出申請 -->
                    <div class="modal-footer justify-content-around">
                        <button type="submit" class="btn btn-secondary" id="show-alert">提交</button>
                    </div>
                </form>

                <div class="modal-footer justify-content-around m-4 ">
                    <button type="submit" class="btn btn-secondary " id="show-alert">
                       <a href="classroom.html"> 課程進修室</a> </button>
                </div>

                <div class="modal-footer justify-content-around m-4 ">
                    <!-- <img src="../assets/images/cute.png" style="width: 500px;" alt="mascot"></a> -->
                    <img src="../assets/images/study.png" style="width: 200px;" alt="mascot"></a>
                </div>

            </div>


    


<!-- end -->

        </div>

             
            </div>
            <div class="switch-tabs d-flex justify-content-between mb-4">
                <ul class="nav nav-pills gap-2">
                    <li class="nav-item">
                        <button class="btn btn-secondary active">最新評論</button>
                    </li>
                    <li class="nav-item">
                        <button class="btn btn-outline-secondary">最熱評論</button>
                    </li>
                </ul>

                   
                </ul>
            </div>

 <!-- 課程評價 -->
 <ul class="course-list row list-unstyled g-lg-6 g-md-4 g-2 mb-5 flex-grow-1 ">
    <li class="col-lg-4 col-md-6 col-12 d-flex flex-column flex-grow-1 ">
 <article class="bg-secondary text-primary fw-bold comment-style1 w-90 w-lg-100">
    <div class="stars-icon d-flex text-primary float-end">
      <span class="material-symbols-outlined ">star</span>
      <span class="material-symbols-outlined">star</span>
      <span class="material-symbols-outlined ">star</span>
      <span class="material-symbols-outlined ">star</span>
      <span class="material-symbols-outlined outline-icon">star</span>
    </div>
    <p class="fs-5 ">汪汪：</p>
    <p class="fs-4 ">一開始只會跟著照抄而已，很多地方都不是很理解，但是慢慢地也越來越理解為什麼要這樣寫，很推薦這門課大家可以參考看看</p>
   <span class="thumb-up d-flex align-items-center ">
    <span class="material-icons">
        thumb_up
        </span>
        <p class=" text-primary">10</p>
    </span>

  </article>
</div>
</div>
</li>

<li class="col-lg-4 col-md-6 col-12 d-flex flex-column flex-grow-1">
    <article class="bg-orange text-secondary fw-bold comment-style1 w-90 w-lg-100">
       <div class="stars-icon d-flex text-secondary float-end">
         <span class="material-symbols-outlined ">star</span>
         <span class="material-symbols-outlined">star</span>
         <span class="material-symbols-outlined ">star</span>
         <span class="material-symbols-outlined ">star</span>
         <span class="material-symbols-outlined ">star</span>
       </div>
       <p class="fs-5 ">小咪：</p>
       <p class="fs-4 ">老師講得太好了,剛好我面試就遇到裡面好多的問題,真的好險有選這門課,老師保佑我面試成功~很推薦正準備面試的大家可以參考 </p>
       <span class="thumb-up d-flex align-items-center ">
        <span class="material-icons">
            thumb_up
            </span>
            <p class=" text-secondary">17</p>
        </span>  
    </article>
   </div>
   </div>
   </li>

   <li class="col-lg-4 col-md-6 col-12 d-flex flex-column flex-grow-1">
    <article class="bg-blue text-secondary fw-bold comment-style1 w-90 w-lg-100">
       <div class="stars-icon d-flex text-secondary float-end">
         <span class="material-symbols-outlined ">star</span>
         <span class="material-symbols-outlined">star</span>
         <span class="material-symbols-outlined outline-icon">star</span>
         <span class="material-symbols-outlined outline-icon">star</span>
         <span class="material-symbols-outlined outline-icon">star</span>
       </div>
       <p class="fs-5 ">阿哞：</p>
       <p class="fs-4 ">不推薦初學者，需要有點基礎再上會比較好。有時候老師講的速度太快了，還沒來得及反應就進到下一個重點，希望可以再放慢。</p>
       <span class="thumb-up d-flex align-items-center ">
        <span class="material-icons">
            thumb_up
            </span>
            <p class=" text-secondary">7</p>
        </span> 
    
    </article>
   </div>
   </div>
   </li>

   <li class="col-lg-4 col-md-6 col-12 d-flex flex-column flex-grow-1">
    <article class="bg-orange text-secondary fw-bold comment-style1 w-90 w-lg-100">
       <div class="stars-icon d-flex text-secondary float-end">
         <span class="material-symbols-outlined ">star</span>
         <span class="material-symbols-outlined">star</span>
         <span class="material-symbols-outlined ">star</span>
         <span class="material-symbols-outlined ">star</span>
         <span class="material-symbols-outlined ">star</span>
       </div>
       <p class="fs-5 ">喵喵最大尾：</p>
       <p class="fs-4 ">以前想著程式能動就好，殊不知有很多地方都是多餘的步驟，自從上了這門課我的code也越來越簡潔了，推薦這門課!!!</p>
       <span class="thumb-up d-flex align-items-center ">
        <span class="material-icons">
            thumb_up
            </span>
            <p class=" text-secondary">17</p>
        </span>  
    </article>
   </div>
   </div>
   </li>


   <li class="col-lg-4 col-md-6 col-12 d-flex flex-column flex-grow-1">
    <article class="bg-blue text-secondary fw-bold comment-style1 w-90 w-lg-100">
       <div class="stars-icon d-flex text-secondary float-end">
         <span class="material-symbols-outlined ">star</span>
         <span class="material-symbols-outlined">star</span>
         <span class="material-symbols-outlined ">star</span>
         <span class="material-symbols-outlined ">star</span>
         <span class="material-symbols-outlined ">star</span>
       </div>
       <p class="fs-5 ">福豬豬：</p>
       <p class="fs-4 ">這門課需要有點基礎再上會比較好，沒有基礎的話就要在課程以外的時間自己去補充知識，以免會跟不上</p>
       <span class="thumb-up d-flex align-items-center ">
        <span class="material-icons">
            thumb_up
            </span>
            <p class=" text-secondary">20</p>
        </span>  
    </article>
   </div>
   </div>
   </li>

   <li class="col-lg-4 col-md-6 col-12 d-flex flex-column flex-grow-1">
    <article class="bg-secondary text-primary fw-bold comment-style1 w-90 w-lg-100">
       <div class="stars-icon d-flex text-primary float-end">
         <span class="material-symbols-outlined ">star</span>
         <span class="material-symbols-outlined">star</span>
         <span class="material-symbols-outlined ">star</span>
         <span class="material-symbols-outlined outline-icon">star</span>
         <span class="material-symbols-outlined outline-icon">star</span>
       </div>
       <p class="fs-5 ">Mi兔：</p>
       <p class="fs-4 ">每次聽每次有不同的收穫，老師也會用一些生動的範例給我們講解，但我還是最喜歡漂亮阿姨出現在範例裡面 XD</p>
       <span class="thumb-up d-flex align-items-center ">
        <span class="material-icons">
            thumb_up
            </span>
            <p class=" text-primary">7</p>
        </span>  
    </article>
   </div>
   </div>
   </li>



</ul>




        <!-- 換頁 -->
            <%- include('./layout/pagination'); -%>

         <!-- 其他人還看了 -->
         <span class="d-flex justify-content-between align-items-center">
         <h2 class="fw-bold p-2">其他人還看了</h2>  
         <span>
         <span class="material-icons circle">
            arrow_back_ios   </span>
            <span class="material-icons circle">
                arrow_forward_ios
                </span>
            </span>
        </span> 

            <!-- 推薦課程 -->
            <ul class="course-list row list-unstyled g-lg-6 g-md-4 g-2 mb-5">
                <li class="col-lg-4 col-md-6 col-12 d-flex flex-column">
                    <a class="card card-hover h-100 rounded-4 position-relative" href="#">
                        <div class="pic">
                            <img src="https://images.pexels.com/photos/11035386/pexels-photo-11035386.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="快速打造響應式網頁" class="card-pic">
                        </div>
                        <div class="badge d-flex justify-content-between align-items-center position-absolute">
                            <span class="brand bg-secondary small text-white rounded-1 py-1 px-3">六角學院</span>
                            <span
                                class="favorite material-symbols-outlined outline-icon position-absolute">favorite</span>
                        </div>
                        <div class="card-body">
                            <h3 class="title text-secondary fs-6 fw-bold">使用 HTML、CSS 快速打造屬於自己的響應式網站</h3>
                        </div>
                        <div class="card-footer">
                            <div class="tags mb-2 mt-auto">
                                <span class="fs-8 me-2">#程序</span>
                            </div>
                            <div class="stars d-flex">
                                <div class="stars-icon text-primary me-2">
                                    <span class="material-symbols-outlined">star</span>
                                    <span class="material-symbols-outlined">star</span>
                                    <span class="material-symbols-outlined">star</span>
                                    <span class="material-symbols-outlined">star</span>
                                    <span class="material-symbols-outlined outline-icon">star</span>
                                </div>
                                <span class="fs-8 text-gray-400">(666)</span>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="col-lg-4 col-md-6 col-12 d-flex flex-column">
                    <a class="card card-hover h-100 rounded-4" href="#">
                        <div class="pic">
                            <img src="https://images.unsplash.com/photo-1654277041218-84424c78f0ae?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2924&q=80" alt="Git & Github 程式時光機" class="card-pic">
                        </div>
                        <div class="badge d-flex justify-content-between align-items-center position-absolute">
                            <span class="brand bg-secondary small text-white rounded-1 py-1 px-3">六角學院</span>
                            <span
                                class="favorite material-symbols-outlined outline-icon position-absolute">favorite</span>
                        </div>
                        <div class="card-body">
                            <h3 class="title text-secondary fs-6 fw-bold">Git & Github 程式時光機</h3>
                        </div>
                        <div class="card-footer">
                            <div class="tags mb-2 mt-auto">
                                <span class="fs-8 me-2">#程序</span>
                            </div>
                            <div class="stars d-flex">
                                <div class="stars-icon text-primary me-2">
                                    <span class="material-symbols-outlined">star</span>
                                    <span class="material-symbols-outlined">star</span>
                                    <span class="material-symbols-outlined">star</span>
                                    <span class="material-symbols-outlined">star</span>
                                    <span class="material-symbols-outlined outline-icon">star</span>
                                </div>
                                <span class="fs-8 text-gray-400">(666)</span>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="col-lg-4 col-md-6 col-12 d-flex flex-column">
                    <a class="card card-hover h-100 rounded-4" href="#">
                        <div class="pic">
                            <img src="https://images.pexels.com/photos/11035474/pexels-photo-11035474.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2=" alt="2023 Python 全攻略" class="card-pic">
                        </div>
                        <div class="badge d-flex justify-content-between align-items-center position-absolute">
                            <span class="brand bg-secondary small text-white rounded-1 py-1 px-3">Udemy</span>
                            <span
                                class="favorite material-symbols-outlined outline-icon position-absolute">favorite</span>
                        </div>
                        <div class="card-body">
                            <h3 class="title text-secondary fs-6 fw-bold">2023 Python 全攻略</h3>
                        </div>
                        <div class="card-footer">
                            <div class="tags mb-2 mt-auto">
                                <span class="fs-8 me-2">#程序</span>
                            </div>
                            <div class="stars d-flex">
                                <div class="stars-icon text-primary me-2">
                                    <span class="material-symbols-outlined">star</span>
                                    <span class="material-symbols-outlined">star</span>
                                    <span class="material-symbols-outlined">star</span>
                                    <span class="material-symbols-outlined">star</span>
                                    <span class="material-symbols-outlined outline-icon">star</span>
                                </div>
                                <span class="fs-8 text-gray-400">(666)</span>
                            </div>
                        </div>
                    </a>
                </li>
                
                            </div>
                        </div>
                    </a>
                </li>
            </ul>

            <!-- 申請新課 -->
            <!-- <button type="button" class="apply btn btn-blue fw-bold" data-bs-toggle="modal"
                data-bs-target="#apply-modal">申請</br>新課
            </button>

            <div class="modal fade" id="apply-modal" tabindex="-1" aria-labelledby="apply-modalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h3 class="modal-title fs-5 fw-bold" id="apply-modalLabel">申請新課</h3>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form class="needs-validation d-flex flex-column" novalidate>
                                <div class="mb-3">
                                    <label class="form-label form-required fw-bold mb-1" for="course-name">課程名稱</label>
                                    <input class="form-control small py-1 ps-2" id="course-name" type="text"
                                        placeholder="請輸入課程名稱" required>
                                    <div class="invalid-feedback">
                                        請輸入課程名稱
                                    </div>
                                </div>

                                <div class="mb-3">
                                    <label class="form-label form-required fw-bold mb-1"
                                        for="brand-name">該課程開設在哪家平台</label>
                                    <input class="form-control small py-1 ps-2" id="brand-name" type="text"
                                        placeholder="請輸入平台名稱" required>
                                    <div class="invalid-feedback">
                                        請輸入平台名稱
                                    </div>
                                </div>

                                <div class="mb-3">
                                    <label class="form-label form-required fw-bold mb-1"
                                        for="course-link">該課程的頁面連結</label>
                                    <input class="form-control small py-1 ps-2" id="course-link" type="text"
                                        placeholder="請輸入課程連結" required>
                                    <div class="invalid-feedback">
                                        請輸入課程連結
                                    </div>
                                </div>

                                <div class="mb-4">
                                    <label class="form-label form-required fw-bold mb-1" for="comment">請寫下你的理由</label>
                                    <textarea class="form-control comment small py-1 ps-2" id="comment" cols="30"
                                        rows="10" placeholder="最多不超過 400 字" maxlength="400" minlength="5"
                                        required></textarea>
                                    <div class="invalid-feedback">
                                        請寫下你的理由
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-outline-secondary"
                                        data-bs-dismiss="modal">取消</button>
                                    <button type="submit" class="btn btn-secondary" id="show-alert">送出申請</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div> -->
        </main>
      
            <%- include('./layout/footer'); -%>
                <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
                <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.27/dist/sweetalert2.all.min.js"></script>
                <script type="module" src="../main.js"></script>
                <script type="module" src="../assets/js/course.js"></script>
</body>

</html>