<!DOCTYPE html>
<html lang="zh-TW">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>index</title>
</head>

<body>
  <%- include('./layout/header'); -%>
    <div style="padding: 3rem;background-color: pink;">
      <button class="btn btn-outline-primary  myBtn">登入</button>
      <button class="btn btn-primary myBtn2">其他 api 測試</button>
      <button class="btn btn-primary signOut">登出</button>
      <button class="btn btn-primary signOut">測試</button>
      <button class="btn btn-primary signOut">修改</button>
      <h2>記得打開開發人員工具, 查看主控台的 console 資料喔</h2>
    </div>


    <h1 class="index-title">我是首頁</h1>
    <img src="../assets/images/cat.jpg" style="width: 300px;" alt="cat">

    <%- include('./layout/footer'); -%>

      <script type="module" src="../main.js"></script>
      <script type="module" src="../assets/js/index.js"></script>
</body>

</html>