<!DOCTYPE html>
<html lang="zh-TW">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>三角構客</title>
  <link rel="icon" type="image/png" href="../assets/images/favicon.ico">
</head>

<body>
  <!--  dev-check -->
<div class="min-vh-100 d-flex flex-column">
  <%- include('./layout/nav'); -%>
  <main class="container flex-grow-1">
    <header class="row">
      <div class="banner col-lg-6 d-flex flex-column justify-content-center">
        <div class="ms-lg-xl">
          <h2 class="fs-1 fw-bold mb-3 mt-4">專為線上學習者打造</h2>
          <h3 class="fs-4 fw-bold mb-4">評課找課，遇見最適合你的課程</h3>
          <button type="button" class="btn btn-primary"><a href="./course.html">探索課程</a></button>
        </div>
      </div>
      <div class="banner-deco col-lg-6 d-none d-lg-block">
        <img src="/assets/images/index_banner2.svg" alt="banner">
      </div>
    </header>
    <div class="index-tag-group bg-secondary mx-0 px-0">
      0
    </div>
    <article>
    </article>
    <div class="index-recommend">
    </div>
    <div class="latest-courses bg-blue">
      0
    </div>
    <div class="applying-intro bg-primary">
      0
    </div>
    <footer class="faq">
    </footer>
  </main>
  <%- include('./layout/footer'); -%>
</div>

  

      <script type="module" src="../main.js"></script>
      <script type="module" src="../assets/js/index.js"></script>
</body>

</html>