<!DOCTYPE html>
<html lang="zh-TW">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>我的課程</title>
</head>

<body>
  <%- include('./layout/header'); -%>
    <%- include('./layout/user_nav'); -%>
    <!-- 未完成 -->
      <main class="container min-vh-100">
        <div class="row">
          <article class="notebook row d-flex flex-wrap col-lg-11 mb-4">
            <ul class="bookmark text-center p-1">
              <li class="bookmark mb-2 bg-blue">
                <span class="fs-tiny">六角學院(3)</span>
              </li>
              <li class="bookmark mb-2 bg-indigo">
                <span class="fs-tiny">六角學院(3)</span>
              </li>
            </ul>
            <section class="notebook-page-left col-lg">
              <div class="single-note d-flex mb-3">
                <img src="../assets/images/course-001-code.jpeg" alt="cover of the course">
                <div class="ps-3 pe-2 py-1">
                  <div class="overflow-hidden">
                    <h2 class="fs-6 fw-bold">使用HTML、CSS開發一個網站</h2>
                  </div>
                  <div class="tags mb-2 mt-auto">
                    <span class="fs-8 me-2">#程序</span>
                  </div>
                  <div class="stars d-flex justify-content-end">
                    <div class="stars-icon text-primary me-2">
                        <span class="material-symbols-outlined fs-6">star</span>
                        <span class="material-symbols-outlined fs-6">star</span>
                        <span class="material-symbols-outlined fs-6">star</span>
                        <span class="material-symbols-outlined fs-6">star</span>
                        <span class="material-symbols-outlined outline-icon fs-6">star</span>
                    </div>
                    <span class="small text-gray-400">(666)</span>
                  </div>
                </div>  
              </div>
              <div class="single-note d-flex mb-3">
                <img src="../assets/images/course-001-code.jpeg" alt="cover of the course">
                <div class="ps-3 pe-2 py-1">
                  <div class="overflow-hidden">
                    <h2 class="fs-6 fw-bold">使用HTML、CSS開發一個網站</h2>
                  </div>
                  <div class="tags mb-2 mt-auto">
                    <span class="fs-8 me-2">#程序</span>
                  </div>
                  <div class="stars d-flex justify-content-end">
                    <div class="stars-icon text-primary me-2">
                        <span class="material-symbols-outlined fs-6">star</span>
                        <span class="material-symbols-outlined fs-6">star</span>
                        <span class="material-symbols-outlined fs-6">star</span>
                        <span class="material-symbols-outlined fs-6">star</span>
                        <span class="material-symbols-outlined outline-icon fs-6">star</span>
                    </div>
                    <span class="small text-gray-400">(666)</span>
                  </div>
                </div>  
              </div>
              <div class="single-note d-flex mb-3">
                <img src="../assets/images/course-001-code.jpeg" alt="cover of the course">
                <div class="ps-3 pe-2 py-1">
                  <div class="overflow-hidden">
                    <h2 class="fs-6 fw-bold">使用HTML、CSS開發一個網站</h2>
                  </div>
                  <div class="tags mb-2 mt-auto">
                    <span class="fs-8 me-2">#程序</span>
                  </div>
                  <div class="stars d-flex justify-content-end">
                    <div class="stars-icon text-primary me-2">
                        <span class="material-symbols-outlined fs-6">star</span>
                        <span class="material-symbols-outlined fs-6">star</span>
                        <span class="material-symbols-outlined fs-6">star</span>
                        <span class="material-symbols-outlined fs-6">star</span>
                        <span class="material-symbols-outlined outline-icon fs-6">star</span>
                    </div>
                    <span class="small text-gray-400">(666)</span>
                  </div>
                </div>  
              </div>
              <div class="single-note d-flex mb-3">
                <img src="../assets/images/course-001-code.jpeg" alt="cover of the course">
                <div class="ps-3 pe-2 py-1">
                  <div class="overflow-hidden">
                    <h2 class="fs-6 fw-bold">使用HTML、CSS開發一個網站</h2>
                  </div>
                  <div class="tags mb-2 mt-auto">
                    <span class="fs-8 me-2">#程序</span>
                  </div>
                  <div class="stars d-flex justify-content-end">
                    <div class="stars-icon text-primary me-2">
                        <span class="material-symbols-outlined fs-6">star</span>
                        <span class="material-symbols-outlined fs-6">star</span>
                        <span class="material-symbols-outlined fs-6">star</span>
                        <span class="material-symbols-outlined fs-6">star</span>
                        <span class="material-symbols-outlined outline-icon fs-6">star</span>
                    </div>
                    <span class="small text-gray-400">(666)</span>
                  </div>
                </div>  
              </div>
            </section>
            <section class="notebook-page-right col-lg">
              <div class="single-note d-flex mb-3">
                <img src="../assets/images/course-001-code.jpeg" alt="cover of the course">
                <div class="ps-3 pe-2 py-1">
                  <div class="overflow-hidden">
                    <h2 class="fs-6 fw-bold">使用HTML、CSS開發一個網站</h2>
                  </div>
                  <div class="tags mb-2 mt-auto">
                    <span class="fs-8 me-2">#程序</span>
                  </div>
                  <div class="stars d-flex justify-content-end">
                    <div class="stars-icon text-primary me-2">
                        <span class="material-symbols-outlined fs-6">star</span>
                        <span class="material-symbols-outlined fs-6">star</span>
                        <span class="material-symbols-outlined fs-6">star</span>
                        <span class="material-symbols-outlined fs-6">star</span>
                        <span class="material-symbols-outlined outline-icon fs-6">star</span>
                    </div>
                    <span class="small text-gray-400">(666)</span>
                  </div>
                </div>  
              </div>
            </section>
          </article>
        </div>
      </main>
    <%- include('./layout/footer'); -%>

  <script type="module" src="../main.js"></script>
  <script type="module" src="../assets/js/index.js"></script>
  <script src="../assets/js/user_nav.js"></script>
</body>

</html>