<!DOCTYPE html>
<html lang="zh-TW">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>我的課程</title>
</head>

<body>
  <%- include('./layout/header'); -%>
    <%- include('./layout/user_nav'); -%>
      <main style="min-height: 100vh;">
        <div class="notebook d-flex justify-content-center">
          <div class="notebook-page-left">
            <div class="single-note">
              <img src="" alt="">
              <h2>課程名稱</h2>
            </div>
          </div>
          <div class="notebook-page-right">
            <div class="single-note">
              <!-- 參看課程卡片 -->
              <!-- <div class="card-body">
                <h3 class="title text-secondary fs-6 fw-bold">JavaScript 核心篇</h3>
            </div> -->
            <!-- <div class="card-footer">
                <div class="tags mb-2 mt-auto">
                    <span class="fs-8 me-2">#程序</span>
                </div>
                <div class="stars d-flex">
                    <div class="stars-icon text-primary me-2">
                        <span class="material-symbols-outlined">star</span>
                        <span class="material-symbols-outlined">star</span>
                        <span class="material-symbols-outlined">star</span>
                        <span class="material-symbols-outlined">star</span>
                        <span class="material-symbols-outlined outline-icon">star</span>
                    </div>
                    <span class="fs-8 text-gray-400">(666)</span>
                </div>
            </div> -->
            </div>
          </div>
        </div>
      </main>
  <%- include('./layout/footer'); -%>

<script type="module" src="../main.js"></script>
<script type="module" src="../assets/js/index.js"></script>
<script src="../assets/js/user_nav.js"></script>
</body>

</html>