<!DOCTYPE html>
<html lang="zh-TW">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>我的課程</title>
</head>

<body>
  <%- include('./layout/header'); -%>
    <%- include('./layout/user_nav'); -%>
    <!-- 未完成  dev-check-->
      <main class="container min-vh-100">
        <div class="row">
          <article class="notebook row mb-xl col-lg-12 gy-md-5">
            <ul class="bookmark list-unstyled text-center p-1 d-flex flex-column">
              <li class="bookmark d-lg-block d-none mb-2 py-1 bg-teal">
                <span class="fs-tiny">六角學院(3)</span>
              </li>
              <li class="bookmark d-lg-block d-none mb-2 py-1 bg-blue">
                <span class="fs-tiny">Hahow(6)</span>
              </li>
              <li class="bookmark d-lg-block d-none mb-2 py-1 bg-orange">
                <span class="fs-tiny">Udemy(6)</span>
              </li>
              <li class="bookmark d-lg-block d-none mb-2 py-1 bg-yellow">
                <span class="fs-tiny">Coursera(6)</span>
              </li>
              <li class="bookmark d-lg-block d-none mb-2 py-1 bg-gray-200">
                <span class="fs-tiny">其他平台(6)</span>
              </li>
              <li class="bookmark d-lg-block d-none mb-2 py-1 bg-primary mt-auto">
                <span class="fs-tiny">已完課(6)</span>
              </li>
            </ul>
            <div class="notebook-pages-only flex-lg-nowrap row g-0 row-cols-lg-2 col">
              <section class="notebook-page-left col col-lg mb-4">
              <!-- 每一個列表的 card 樣式 => single-note-card 這個 class 給你控制 -->
                <div class="card single-note-card mb-3">
                  <div class="row g-0">
                    <div class="col-4 card-row">
                      <img src="../assets/images/course-001-code.jpeg" class="img-fluid rounded-start" alt="cover of course">
                    </div>
                    <div class="col-8">
                      <div class="card-body pb-1">
                        <h2 class="fs-6 text-truncate">使用HTML、CSS開發一個網站</h2>
                        <p>#程序</p>
                        <div class="stars d-flex justify-content-end">
                          <div class="stars-icon text-primary me-2">
                              <span class="material-symbols-outlined fs-6">star</span>
                              <span class="material-symbols-outlined fs-6">star</span>
                              <span class="material-symbols-outlined fs-6">star</span>
                              <span class="material-symbols-outlined fs-6">star</span>
                              <span class="material-symbols-outlined outline-icon fs-6">star</span>
                          </div>
                          <span class="small text-gray-400">(666)</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card single-note-card mb-3">
                  <div class="row g-0">
                    <div class="col-4 card-row">
                      <img src="../assets/images/course-001-code.jpeg" class="img-fluid rounded-start" alt="cover of course">
                    </div>
                    <div class="col-8">
                      <div class="card-body pb-1">
                        <h2 class="fs-6 text-truncate">使用HTML、CSS開發一個網站</h2>
                        <p>#程序</p>
                        <div class="stars d-flex justify-content-end">
                          <div class="stars-icon text-primary me-2">
                              <span class="material-symbols-outlined fs-6">star</span>
                              <span class="material-symbols-outlined fs-6">star</span>
                              <span class="material-symbols-outlined fs-6">star</span>
                              <span class="material-symbols-outlined fs-6">star</span>
                              <span class="material-symbols-outlined outline-icon fs-6">star</span>
                          </div>
                          <span class="small text-gray-400">(666)</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card single-note-card mb-3">
                  <div class="row g-0">
                    <div class="col-4 card-row">
                      <img src="../assets/images/course-001-code.jpeg" class="img-fluid rounded-start" alt="cover of course">
                    </div>
                    <div class="col-8">
                      <div class="card-body pb-1">
                        <h2 class="fs-6 text-truncate">使用HTML、CSS開發一個網站</h2>
                        <p>#程序</p>
                        <div class="stars d-flex justify-content-end">
                          <div class="stars-icon text-primary me-2">
                              <span class="material-symbols-outlined fs-6">star</span>
                              <span class="material-symbols-outlined fs-6">star</span>
                              <span class="material-symbols-outlined fs-6">star</span>
                              <span class="material-symbols-outlined fs-6">star</span>
                              <span class="material-symbols-outlined outline-icon fs-6">star</span>
                          </div>
                          <span class="small text-gray-400">(666)</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card single-note-card mb-3">
                  <div class="row g-0">
                    <div class="col-4 card-row">
                      <img src="../assets/images/course-001-code.jpeg" class="img-fluid rounded-start" alt="cover of course">
                    </div>
                    <div class="col-8">
                      <div class="card-body pb-1">
                        <h2 class="fs-6 text-truncate">使用HTML、CSS開發一個網站</h2>
                        <p>#程序</p>
                        <div class="stars d-flex justify-content-end">
                          <div class="stars-icon text-primary me-2">
                              <span class="material-symbols-outlined fs-6">star</span>
                              <span class="material-symbols-outlined fs-6">star</span>
                              <span class="material-symbols-outlined fs-6">star</span>
                              <span class="material-symbols-outlined fs-6">star</span>
                              <span class="material-symbols-outlined outline-icon fs-6">star</span>
                          </div>
                          <span class="small text-gray-400">(666)</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </section>

              <section class="notebook-page-right col col-lg mb-4">
                <div class="card single-note-card mb-3">
                  <div class="row g-0">
                    <div class="col-4 card-row">
                      <img src="../assets/images/course-001-code.jpeg" class="img-fluid rounded-start" alt="cover of course">
                    </div>
                    <div class="col-8">
                      <div class="card-body pb-1">
                        <h2 class="fs-6 text-truncate">使用HTML、CSS開發一個網站</h2>
                        <p>#程序</p>
                        <div class="stars d-flex justify-content-end">
                          <div class="stars-icon text-primary me-2">
                              <span class="material-symbols-outlined fs-6">star</span>
                              <span class="material-symbols-outlined fs-6">star</span>
                              <span class="material-symbols-outlined fs-6">star</span>
                              <span class="material-symbols-outlined fs-6">star</span>
                              <span class="material-symbols-outlined outline-icon fs-6">star</span>
                          </div>
                          <span class="small text-gray-400">(666)</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card single-note-card mb-3">
                  <div class="row g-0">
                    <div class="col-4 card-row">
                      <img src="../assets/images/course-001-code.jpeg" class="img-fluid rounded-start" alt="cover of course">
                    </div>
                    <div class="col-8">
                      <div class="card-body pb-1">
                        <h2 class="fs-6 text-truncate">使用HTML、CSS開發一個網站</h2>
                        <p>#程序</p>
                        <div class="stars d-flex justify-content-end">
                          <div class="stars-icon text-primary me-2">
                              <span class="material-symbols-outlined fs-6">star</span>
                              <span class="material-symbols-outlined fs-6">star</span>
                              <span class="material-symbols-outlined fs-6">star</span>
                              <span class="material-symbols-outlined fs-6">star</span>
                              <span class="material-symbols-outlined outline-icon fs-6">star</span>
                          </div>
                          <span class="small text-gray-400">(666)</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card single-note-card mb-3">
                  <div class="row g-0">
                    <div class="col-4 card-row">
                      <img src="../assets/images/course-001-code.jpeg" class="img-fluid rounded-start" alt="cover of course">
                    </div>
                    <div class="col-8">
                      <div class="card-body pb-1">
                        <h2 class="fs-6 text-truncate">使用HTML、CSS開發一個網站</h2>
                        <p>#程序</p>
                        <div class="stars d-flex justify-content-end">
                          <div class="stars-icon text-primary me-2">
                              <span class="material-symbols-outlined fs-6">star</span>
                              <span class="material-symbols-outlined fs-6">star</span>
                              <span class="material-symbols-outlined fs-6">star</span>
                              <span class="material-symbols-outlined fs-6">star</span>
                              <span class="material-symbols-outlined outline-icon fs-6">star</span>
                          </div>
                          <span class="small text-gray-400">(666)</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card single-note-card mb-3">
                  <div class="row g-0">
                    <div class="col-4 card-row">
                      <img src="../assets/images/course-001-code.jpeg" class="img-fluid rounded-start" alt="cover of course">
                    </div>
                    <div class="col-8">
                      <div class="card-body pb-1">
                        <h2 class="fs-6 text-truncate">使用HTML、CSS開發一個網站</h2>
                        <p>#程序</p>
                        <div class="stars d-flex justify-content-end">
                          <div class="stars-icon text-primary me-2">
                              <span class="material-symbols-outlined fs-6">star</span>
                              <span class="material-symbols-outlined fs-6">star</span>
                              <span class="material-symbols-outlined fs-6">star</span>
                              <span class="material-symbols-outlined fs-6">star</span>
                              <span class="material-symbols-outlined outline-icon fs-6">star</span>
                          </div>
                          <span class="small text-gray-400">(666)</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
            </div>
          </article>
        </div>
      </main>
    <%- include('./layout/footer'); -%>

  <script type="module" src="../main.js"></script>
  <script type="module" src="../assets/js/index.js"></script>
  <script src="../assets/js/user_nav.js"></script>
</body>

</html>