<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
    <title>使用條款</title>
    <link rel="icon" type="image/png" href="../assets/images/favicon.ico">
</head>

  <body>
    <div class="min-vh-100 d-flex flex-column">
      <%- include('./layout/nav'); -%>
      <main class="container flex-grow-1" style="background-color: #6d6f6b08">
        <div class="row mb-5">
          <h1 class="fs-2 page-title fw-bold my-4">服務條款</h1>
          <div class="col-9 text-wrap mb-4 mx-auto">
            <p class="fs-6">
              歡迎使用「三角構客Triangle Golk」(以下稱為「本網站」)。
            </p>
            <p class="fs-6">
              本網站提供結合「線上課程評價」與「打造線上課程自學者優質互動社群」的服務，以幫助學習者、開課平台及本網站三方共同成長和進步。
            </p>
            <p class="fs-6">
              此「使用條款(即權利與義務宣告)」是本網站的服務條款，用以規範本網站與用戶及其他與本網站互動的人士之關係。透過使用或登入本網站，代表使用者同意本條款。
            </p>
            <p class="fs-6">
              本條款之內容包括條款本文、以及本文明確援引之其他協議，以及未來本站可能發佈的各項規則。
            </p>
          </div>
          <ol class="mb-4">
            <li class="col-8 mx-auto">
              <h2 class="fs-5">使用條款接受</h2>
              <p class="fs-6">
                進入或使用本網站，即表示您同意遵守本服務條款及相關的隱私政策。如果您不同意這些條款，請停止使用本網站。
              </p>
            </li>
            <li class="col-8 mx-auto">
              <h2 class="fs-5">使用許可</h2>
              <p class="fs-6">
                本網站授予您有限的、非專屬的、不可轉讓的許可，以訪問和使用本網站的服務。您同意不以任何方式從事影響本網站運作或對其他用戶造成干擾的行為。
              </p>
            </li>
            <li class="col-8 mx-auto">
              <h2 class="fs-5">使用者內容</h2>
              <p class="fs-6">
                您在本網站上提交的所有用戶內容(包括評價、留言等)應符合相關法律法規且不侵犯他人的權益。本網站保留審核和刪除任何違法、侵權或不適當的內容的權利。
              </p>
            </li>
            <li class="col-8 mx-auto">
              <h2 class="fs-5">隱私保護</h2>
              <p class="fs-6">
                我們將根據本網站的隱私政策收集、使用和保護您的個人信息。請詳閱隱私政策了解更多信息。
              </p>
            </li>
            <li class="col-8 mx-auto">
              <h2 class="fs-5">智慧財產權</h2>
              <p class="fs-6">
                本網站上的所有內容(包括但不限於圖片、文本、商標等)均屬於本網站或其相關權利人所有。未經授權，您不得擅自使用、複製或修改這些內容。
              </p>
            </li>
            <li class="col-8 mx-auto">
              <h2 class="fs-5">免責聲明</h2>
              <p class="fs-6">
                本網站所提供的內容僅供參考和個人使用，不構成任何形式的專業建議。使用本網站的服務需自行承擔風險。
              </p>
            </li>
            <li class="col-8 mx-auto">
              <h2 class="fs-5">服務變更和終止</h2>
              <p class="fs-6">
                本網站保留在任何時候暫停、修改或終止部分或全部服務的權利，且不需提前通知您。若因本網站變更或終止服務導致您的損失，本網站將不承擔任何責任。
              </p>
            </li>
            <li class="col-8 mx-auto">
              <h2 class="fs-5">準據法和爭議解決</h2>
              <p class="fs-6">
                本服務條款受中華民國法律管轄。任何因使用本網站服務所引起或與之相關的爭議應協商解決，協商不成時，您同意將爭議提交至該管管轄權的法院判決。
              </p>
            </li>
            <li class="col-8 mx-auto">
              <h2 class="fs-5">其他條款</h2>
              <p class="fs-6">
                本網站保留解釋和修改本服務條款的權利，修改後的條款將在本網站上公布並自公布之日起生效。
              </p>
            </li>
          </ol>
          <p class="fs-6 col-9 mx-auto">
            感謝您使用「三角構客Triangle Golk」，我們將竭誠為您提供優質的服務。
          </p>
          <p class="fs-6 col-9 mx-auto">
            若您對條款內容有任何問題，<a
              href="contact.html"
              class="d-inline btn btn-outline-primary fs-6 align-baseline text-nowrap"
              >請聯繫我們</a
            >。
          </p>
        </div>
      </main>
      <%- include('./layout/footer'); -%>
    </div>

    <script type="module" src="../main.js"></script>
    <script type="module" src="../assets/js/course.js"></script>
  </body>
</html>
