<!DOCTYPE html>
<html lang="zh-TW">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>關注清單</title>
  <link rel="icon" type="image/png" href="../assets/images/favicon.ico">
</head>

<body>
  <%- include('./layout/loading'); -%>
<div class="min-vh-100 d-flex flex-column">
  <%- include('./layout/nav'); -%>
  <%- include('./layout/user_nav'); -%>

  <main class="container my-xl flex-grow-1">
    <article class="notebook row">
      <ul class="pc-marks bookmark list-unstyled text-center p-1 d-flex flex-column d-lg-block d-none">
        <!-- <li class="bookmark mb-2 py-1 bg-teal">
          <span class="fs-tiny">六角學院(3)</span>
        </li>
        <li class="bookmark bookmark-unselected mb-2 py-1 bg-blue">
          <span class="fs-tiny">Hahow(6)</span>
        </li>
        <li class="bookmark bookmark-unselected mb-2 py-1 bg-orange">
          <span class="fs-tiny">Udemy(6)</span>
        </li>
        <li class="bookmark bookmark-unselected mb-2 py-1 bg-yellow">
          <span class="fs-tiny">Coursera(6)</span>
        </li>
        <li class="bookmark bookmark-unselected mb-2 py-1 bg-gray-200">
          <span class="fs-tiny">其他平台(6)</span>
        </li> -->
      </ul>
      <ul class="h5-marks bookmark-mobile list-unstyled text-center p-1 d-flex d-lg-none my-0 w-100">
        <!-- <li class="bookmark me-1 py-1 bg-teal fs-tiny">
          <span class="d-block text-nowrap">六角學院</span> (333)
        </li>
        <li class="bookmark me-1 bookmark-unselected py-1 bg-blue fs-tiny">
          <span class="d-block text-nowrap">Hahow</span> (6)
        </li>
        <li class="bookmark me-1 bookmark-unselected py-1 bg-orange fs-tiny">
          <span class="d-block text-nowrap">Udemy</span> (6)
        </li>
        <li class="bookmark me-1 bookmark-unselected py-1 bg-yellow fs-tiny">
          <span class="d-block text-nowrap">Coursera</span> (6)
        </li>
        <li class="bookmark me-1 bookmark-unselected py-1 bg-gray-200 fs-tiny">
          <span class="d-block text-nowrap">其他平台</span> (6)
        </li> -->
      </ul>
      <div class="notebook-pages-only row col g-0">
        <section class="notebook-page-left row col mb-4 row-cols-lg-2 gx-lg-5">
        <!-- 關注清單卡片的 card 樣式 => wishlist-note-card -->
          <div class="book-left notebook-page-innersection col-lg-6 col-12 position-relative">
            <!-- 空頁面樣式 -->
            <div id="user-list-empty1" class="user-empty comment-style1" style="display: none;">
              <p class="fs-4 fw-bold mb-4 text-white text-center"
              >本頁還沒有內容喔</p>
              <a href="/pages/course.html" class="btn btn-outline-primary fs-3 fw-bold d-block"
              >出發探索好課</a>
            </div>
            <div class="notebook-cards-group">
              <!-- <div class="notebook-card-frame">
                <div class="card wishlist-note-card mb-3">
                  <span class="material-symbols-outlined outline-icon position-absolute end-0 top-0 text-secondary">
                    heart_minus
                  </span>
                  <div class="row g-0">
                    <div class="col-4 card-row">
                      <img src="../assets/images/course-006-cook.jpeg" class="img-fluid rounded-start" alt="cover of course">
                    </div>
                    <div class="col-8">
                      <div class="card-body pb-1">
                        <h2 class="card-title fs-6 text-truncate">從新手到人人稱讚好廚藝</h2>
                        <div class="user-courses-tags d-flex gap-2 mb-2 mb-lg-3">
                            <span class="card-text fs-8">#烹飪</span>
                        </div>
                        <div class="stars d-flex justify-content-end">
                          <div class="stars-icon text-primary me-1 me-md-2">
                              <span class="material-symbols-outlined star-fs">star</span>
                              <span class="material-symbols-outlined star-fs">star</span>
                              <span class="material-symbols-outlined star-fs">star</span>
                              <span class="material-symbols-outlined star-fs">star</span>
                              <span class="material-symbols-outlined outline-icon star-fs">star</span>
                          </div>
                          <span class="text-gray-400 small">(666)</span>
                        </div>
                      </div>
                    </div>
                    <div class="wishlist-note-card-btn d-flex justify-content-center flex-nowrap">
                      <a href="./coursepages.html" target="_self" class="d-block text-white fs-5 align-self-center text-nowrap p-xxl">查看課程</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="notebook-card-frame">
                <div class="card wishlist-note-card mb-3">
                  <span class="material-symbols-outlined outline-icon position-absolute end-0 top-0 text-secondary">
                    heart_minus
                  </span>
                  <div class="row g-0">
                    <div class="col-4 card-row">
                      <img src="../assets/images/course-006-cook.jpeg" class="img-fluid rounded-start" alt="cover of course">
                    </div>
                    <div class="col-8">
                      <div class="card-body pb-1">
                        <h2 class="card-title fs-6 text-truncate">從新手到人人稱讚好廚藝</h2>
                        <div class="user-courses-tags d-flex gap-2 mb-2 mb-lg-3">
                            <span class="card-text fs-8">#烹飪</span>
                        </div>
                        <div class="stars d-flex justify-content-end">
                          <div class="stars-icon text-primary me-1 me-md-2">
                              <span class="material-symbols-outlined star-fs">star</span>
                              <span class="material-symbols-outlined star-fs">star</span>
                              <span class="material-symbols-outlined star-fs">star</span>
                              <span class="material-symbols-outlined star-fs">star</span>
                              <span class="material-symbols-outlined outline-icon star-fs">star</span>
                          </div>
                          <span class="text-gray-400 small">(666)</span>
                        </div>
                      </div>
                    </div>
                    <div class="wishlist-note-card-btn d-flex justify-content-center flex-nowrap">
                      <a href="./coursepages.html" target="_self" class="d-block text-white fs-5 align-self-center text-nowrap p-xxl">查看課程</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="notebook-card-frame">
                <div class="card wishlist-note-card mb-3">
                  <span class="material-symbols-outlined outline-icon position-absolute end-0 top-0 text-secondary">
                    heart_minus
                  </span>
                  <div class="row g-0">
                    <div class="col-4 card-row">
                      <img src="../assets/images/course-006-cook.jpeg" class="img-fluid rounded-start" alt="cover of course">
                    </div>
                    <div class="col-8">
                      <div class="card-body pb-1">
                        <h2 class="card-title fs-6 text-truncate">從新手到人人稱讚好廚藝</h2>
                        <div class="user-courses-tags d-flex gap-2 mb-2 mb-lg-3">
                            <span class="card-text fs-8">#烹飪</span>
                        </div>
                        <div class="stars d-flex justify-content-end">
                          <div class="stars-icon text-primary me-1 me-md-2">
                              <span class="material-symbols-outlined star-fs">star</span>
                              <span class="material-symbols-outlined star-fs">star</span>
                              <span class="material-symbols-outlined star-fs">star</span>
                              <span class="material-symbols-outlined star-fs">star</span>
                              <span class="material-symbols-outlined outline-icon star-fs">star</span>
                          </div>
                          <span class="text-gray-400 small">(666)</span>
                        </div>
                      </div>
                    </div>
                    <div class="wishlist-note-card-btn d-flex justify-content-center flex-nowrap">
                      <a href="./coursepages.html" target="_self" class="d-block text-white fs-5 align-self-center text-nowrap p-xxl">查看課程</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="notebook-card-frame">
                <div class="card wishlist-note-card mb-3">
                  <span class="material-symbols-outlined outline-icon position-absolute end-0 top-0 text-secondary">
                    heart_minus
                  </span>
                  <div class="row g-0">
                    <div class="col-4 card-row">
                      <img src="../assets/images/course-006-cook.jpeg" class="img-fluid rounded-start" alt="cover of course">
                    </div>
                    <div class="col-8">
                      <div class="card-body pb-1">
                        <h2 class="card-title fs-6 text-truncate">從新手到人人稱讚好廚藝</h2>
                        <div class="user-courses-tags d-flex gap-2 mb-2 mb-lg-3">
                            <span class="card-text fs-8">#烹飪</span>
                        </div>
                        <div class="stars d-flex justify-content-end">
                          <div class="stars-icon text-primary me-1 me-md-2">
                              <span class="material-symbols-outlined star-fs">star</span>
                              <span class="material-symbols-outlined star-fs">star</span>
                              <span class="material-symbols-outlined star-fs">star</span>
                              <span class="material-symbols-outlined star-fs">star</span>
                              <span class="material-symbols-outlined outline-icon star-fs">star</span>
                          </div>
                          <span class="text-gray-400 small">(666)</span>
                        </div>
                      </div>
                    </div>
                    <div class="wishlist-note-card-btn d-flex justify-content-center flex-nowrap">
                      <a href="./coursepages.html" target="_self" class="d-block text-white fs-5 align-self-center text-nowrap p-xxl">查看課程</a>
                    </div>
                  </div>
                </div>
              </div> -->
            </div>
            <!-- <div class="d-none d-lg-block justify-content-lg-start">
              <button class="btn btn-secondary px-2 py-1 mt-3 small" disabled>上一頁</button>
            </div> -->
          </div>

          <div class="boot-right notebook-page-innersection col-lg-6 col-12">
            <!-- <div class="notebook-cards-group">
              <div class="notebook-card-frame">
                <div class="card wishlist-note-card mb-3">
                  <span class="material-symbols-outlined outline-icon position-absolute end-0 top-0 text-secondary">
                    heart_minus
                  </span>
                  <div class="row g-0">
                    <div class="col-4 card-row">
                      <img src="../assets/images/course-006-cook.jpeg" class="img-fluid rounded-start" alt="cover of course">
                    </div>
                    <div class="col-8">
                      <div class="card-body pb-1">
                        <h2 class="card-title fs-6 text-truncate">從新手到人人稱讚好廚藝</h2>
                        <div class="user-courses-tags d-flex gap-2 mb-2 mb-lg-3">
                            <span class="card-text fs-8">#烹飪</span>
                        </div>
                        <div class="stars d-flex justify-content-end">
                          <div class="stars-icon text-primary me-1 me-md-2">
                              <span class="material-symbols-outlined star-fs">star</span>
                              <span class="material-symbols-outlined star-fs">star</span>
                              <span class="material-symbols-outlined star-fs">star</span>
                              <span class="material-symbols-outlined star-fs">star</span>
                              <span class="material-symbols-outlined outline-icon star-fs">star</span>
                          </div>
                          <span class="text-gray-400 small">(666)</span>
                        </div>
                      </div>
                    </div>
                    <div class="wishlist-note-card-btn d-flex justify-content-center flex-nowrap">
                      <a href="./coursepages.html" target="_self" class="d-block text-white fs-5 align-self-center text-nowrap p-xxl">查看課程</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="notebook-card-frame">
                <div class="card wishlist-note-card mb-3">
                  <span class="material-symbols-outlined outline-icon position-absolute end-0 top-0 text-secondary">
                    heart_minus
                  </span>
                  <div class="row g-0">
                    <div class="col-4 card-row">
                      <img src="../assets/images/course-006-cook.jpeg" class="img-fluid rounded-start" alt="cover of course">
                    </div>
                    <div class="col-8">
                      <div class="card-body pb-1">
                        <h2 class="card-title fs-6 text-truncate">從新手到人人稱讚好廚藝</h2>
                        <div class="user-courses-tags d-flex gap-2 mb-2 mb-lg-3">
                            <span class="card-text fs-8">#烹飪</span>
                        </div>
                        <div class="stars d-flex justify-content-end">
                          <div class="stars-icon text-primary me-1 me-md-2">
                              <span class="material-symbols-outlined star-fs">star</span>
                              <span class="material-symbols-outlined star-fs">star</span>
                              <span class="material-symbols-outlined star-fs">star</span>
                              <span class="material-symbols-outlined star-fs">star</span>
                              <span class="material-symbols-outlined outline-icon star-fs">star</span>
                          </div>
                          <span class="text-gray-400 small">(666)</span>
                        </div>
                      </div>
                    </div>
                    <div class="wishlist-note-card-btn d-flex justify-content-center flex-nowrap">
                      <a href="./coursepages.html" target="_self" class="d-block text-white fs-5 align-self-center text-nowrap p-xxl">查看課程</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="notebook-card-frame">
                <div class="card wishlist-note-card mb-3">
                  <span class="material-symbols-outlined outline-icon position-absolute end-0 top-0 text-secondary">
                    heart_minus
                  </span>
                  <div class="row g-0">
                    <div class="col-4 card-row">
                      <img src="../assets/images/course-006-cook.jpeg" class="img-fluid rounded-start" alt="cover of course">
                    </div>
                    <div class="col-8">
                      <div class="card-body pb-1">
                        <h2 class="card-title fs-6 text-truncate">從新手到人人稱讚好廚藝</h2>
                        <div class="user-courses-tags d-flex gap-2 mb-2 mb-lg-3">
                            <span class="card-text fs-8">#烹飪</span>
                        </div>
                        <div class="stars d-flex justify-content-end">
                          <div class="stars-icon text-primary me-1 me-md-2">
                              <span class="material-symbols-outlined star-fs">star</span>
                              <span class="material-symbols-outlined star-fs">star</span>
                              <span class="material-symbols-outlined star-fs">star</span>
                              <span class="material-symbols-outlined star-fs">star</span>
                              <span class="material-symbols-outlined outline-icon star-fs">star</span>
                          </div>
                          <span class="text-gray-400 small">(666)</span>
                        </div>
                      </div>
                    </div>
                    <div class="wishlist-note-card-btn d-flex justify-content-center flex-nowrap">
                      <a href="./coursepages.html" target="_self" class="d-block text-white fs-5 align-self-center text-nowrap p-xxl">查看課程</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="notebook-card-frame">
                <div class="card wishlist-note-card mb-3">
                  <span class="material-symbols-outlined outline-icon position-absolute end-0 top-0 text-secondary">
                    heart_minus
                  </span>
                  <div class="row g-0">
                    <div class="col-4 card-row">
                      <img src="../assets/images/course-006-cook.jpeg" class="img-fluid rounded-start" alt="cover of course">
                    </div>
                    <div class="col-8">
                      <div class="card-body pb-1">
                        <h2 class="card-title fs-6 text-truncate">從新手到人人稱讚好廚藝</h2>
                        <div class="user-courses-tags d-flex gap-2 mb-2 mb-lg-3">
                            <span class="card-text fs-8">#烹飪</span>
                        </div>
                        <div class="stars d-flex justify-content-end">
                          <div class="stars-icon text-primary me-1 me-md-2">
                              <span class="material-symbols-outlined star-fs">star</span>
                              <span class="material-symbols-outlined star-fs">star</span>
                              <span class="material-symbols-outlined star-fs">star</span>
                              <span class="material-symbols-outlined star-fs">star</span>
                              <span class="material-symbols-outlined outline-icon star-fs">star</span>
                          </div>
                          <span class="text-gray-400 small">(666)</span>
                        </div>
                      </div>
                    </div>
                    <div class="wishlist-note-card-btn d-flex justify-content-center flex-nowrap">
                      <a href="./coursepages.html" target="_self" class="d-block text-white fs-5 align-self-center text-nowrap p-xxl">查看課程</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="d-flex justify-content-between justify-content-lg-end">
              <div class="d-lg-none">
                <button class="btn btn-secondary px-2 py-1 mt-3 small" disabled>上一頁</button>
              </div>
              <button class="btn btn-secondary px-2 py-1 mt-3 small">下一頁</button>
            </div> -->
          </div>
        </section>
      </div>
    </article>
    <div class="box-shadow"></div>
  </main>
  

<%- include('./layout/footer'); -%>
</div>



<script type="module" src="../main.js"></script>
<script type="module" src="../assets/js/user_nav.js"></script>
<script type="module" src="../assets/js/user_wishlist.js"></script>
</body>

</html>