<!DOCTYPE html>
<html lang="zh-TW">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>我的課程</title>
  <link rel="icon" type="image/png" href="../assets/images/favicon.ico">
</head>

<body>
  <%- include('./layout/loading'); -%>

  <div class="min-vh-100 d-flex flex-column">
    <%- include('./layout/nav'); -%>
    <%- include('./layout/user_nav'); -%>

      <main class="container my-xl flex-grow-1">
        <article class="notebook row">
          <!-- 電腦版標籤 -->
          <ul class="pc-marks bookmark list-unstyled text-center p-1 d-flex flex-column d-lg-block d-none">
            <!-- <li class="bookmark mb-2 py-1 bg-teal">
              <span class="fs-tiny">六角學院(3)</span>
            </li>
            <li class="bookmark bookmark-unselected mb-2 py-1 bg-blue">
              <span class="fs-tiny">Hahow(6)</span>
            </li>
            <li class="bookmark bookmark-unselected mb-2 py-1 bg-orange">
              <span class="fs-tiny">Udemy(6)</span>
            </li>
            <li class="bookmark bookmark-unselected mb-2 py-1 bg-yellow">
              <span class="fs-tiny">Coursera(6)</span>
            </li>
            <li class="bookmark bookmark-unselected mb-2 py-1 bg-gray-200">
              <span class="fs-tiny">其他平台(6)</span>
            </li>
            <li class="bookmark bookmark-unselected mb-2 py-1 bg-primary mt-auto">
              <span class="fs-tiny">已完課(6)</span>
            </li> -->
          </ul>
          <!-- 手機板標籤 -->
          <ul class="h5-marks bookmark-mobile list-unstyled text-center p-1 d-flex d-lg-none my-0 w-100">
            <!-- <li class="bookmark me-1 py-1 bg-teal fs-tiny">
              <span class="d-block text-nowrap">六角學院</span>(333)
            </li>
            <li class="bookmark me-1 bookmark-unselected py-1 bg-blue fs-tiny">
              <span class="d-block text-nowrap">Hahow</span>(6)
            </li>
            <li class="bookmark me-1 bookmark-unselected py-1 bg-orange fs-tiny">
              <span class="d-block text-nowrap">Udemy</span>(6)
            </li>
            <li class="bookmark me-1 bookmark-unselected py-1 bg-yellow fs-tiny">
              <span class="d-block text-nowrap">Coursera</span>(6)
            </li>
            <li class="bookmark me-1 bookmark-unselected py-1 bg-gray-200 fs-tiny">
              <span class="d-block text-nowrap">其他平台</span>(6)
            </li>
            <li class="bookmark bookmark-unselected py-1 bg-primary ms-auto fs-tiny">
              <span class="d-block text-nowrap">已完課</span>(6)
            </li> -->
          </ul>
          <div class="notebook-pages-only row col g-0">
            <section class="notebook-page-left row col mb-4 row-cols-lg-2 gx-lg-5">
            <!-- 課程卡片的 card 樣式 => single-note-card -->
              <div class="book-left notebook-page-innersection col-lg-6 col position-relative">
              <!-- 空頁面樣式 -->
              <div id="user-list-empty0" class="user-empty comment-style1 d-none">
                <p class="fs-4 fw-bold mb-4 text-white text-center"
                >本頁還沒有內容喔</p>
                <a href="/pages/course.html" class="btn btn-outline-primary fs-3 fw-bold d-block"
                >出發探索好課</a>
              </div>
                <div class="notebook-cards-group">
                  <!-- <div class="notebook-card-frame position-relative">
                    <div class="card single-note-card mb-3">
                    <div class="row g-0">
                      <div class="col-4 card-row">
                        <img src="../assets/images/course-001-code.jpeg" class="img-fluid rounded-start" alt="cover of course">
                      </div>
                      <div class="col-8">
                        <div class="card-body pb-1">
                          <h2 class="card-title fs-6 text-truncate">使用HTML、CSS開發一個網站</h2>
                          <div class="user-courses-tags d-flex gap-2 d-flex gap-2 mb-2 mb-lg-3">
                            <span class="card-text fs-8">#程序</span>
                          </div>
                          <div class="stars d-flex justify-content-end">
                            <div class="stars-icon text-primary me-1 me-md-2">
                                <span class="material-symbols-outlined star-fs">star</span>
                                <span class="material-symbols-outlined star-fs">star</span>
                                <span class="material-symbols-outlined star-fs">star</span>
                                <span class="material-symbols-outlined star-fs">star</span>
                                <span class="material-symbols-outlined outline-icon star-fs">star</span>
                            </div>
                            <span class="text-gray-400 small">(666)</span>
                          </div>
                        </div>
                      </div>
                      <div class="single-note-card-btn d-flex justify-content-evenly align-items-center">
                        <button class="check-course btn btn-primary "><a href="./coursepages.html?id=1&sort=timer">查看課程</a></button>
                        <div class="vertical-line"></div>
                        <button class="go-comment btn btn-outline-primary"><a href="./comment.html?courseId=1">完課評價</a></button>
                      </div>
                    </div>
                    </div>
                  </div>
                  <div class="notebook-card-frame position-relative">
                    <div class="card single-note-card mb-3">
                    <div class="row g-0">
                      <div class="col-4 card-row">
                        <img src="../assets/images/course-001-code.jpeg" class="img-fluid rounded-start" alt="cover of course">
                      </div>
                      <div class="col-8">
                        <div class="card-body pb-1">
                          <h2 class="card-title fs-6 text-truncate">使用HTML、CSS開發一個網站</h2>
                          <div class="user-courses-tags d-flex flex-wrap gap-2 mb-2 mb-lg-3">
                            <span class="card-text fs-8">#程序</span>
                          </div>
                          <div class="stars d-flex justify-content-end">
                            <div class="stars-icon text-primary me-1 me-md-2">
                                <span class="material-symbols-outlined star-fs">star</span>
                                <span class="material-symbols-outlined star-fs">star</span>
                                <span class="material-symbols-outlined star-fs">star</span>
                                <span class="material-symbols-outlined star-fs">star</span>
                                <span class="material-symbols-outlined outline-icon star-fs">star</span>
                            </div>
                            <span class="text-gray-400 small">(666)</span>
                          </div>
                        </div>
                      </div>
                      <div class="single-note-card-btn d-flex justify-content-evenly align-items-center">
                        <button class="check-course btn btn-primary "><a href="./coursepages.html?id=1&sort=timer">查看課程</a></button>
                        <div class="vertical-line"></div>
                        <button class="go-comment btn btn-outline-primary"><a href="./comment.html?courseId=1">完課評價</a></button>
                      </div>
                    </div>
                    </div>
                  </div>
                  <div class="notebook-card-frame position-relative">
                    <div class="card single-note-card mb-3">
                    <div class="row g-0">
                      <div class="col-4 card-row">
                        <img src="../assets/images/course-001-code.jpeg" class="img-fluid rounded-start" alt="cover of course">
                      </div>
                      <div class="col-8">
                        <div class="card-body pb-1">
                          <h2 class="card-title fs-6 text-truncate">使用HTML、CSS開發一個網站</h2>
                          <div class="user-courses-tags d-flex flex-wrap gap-2 mb-2 mb-lg-3">
                            <span class="card-text fs-8">#程序</span>
                          </div>
                          <div class="stars d-flex justify-content-end">
                            <div class="stars-icon text-primary me-1 me-md-2">
                                <span class="material-symbols-outlined star-fs">star</span>
                                <span class="material-symbols-outlined star-fs">star</span>
                                <span class="material-symbols-outlined star-fs">star</span>
                                <span class="material-symbols-outlined star-fs">star</span>
                                <span class="material-symbols-outlined outline-icon star-fs">star</span>
                            </div>
                            <span class="text-gray-400 small">(666)</span>
                          </div>
                        </div>
                      </div>
                      <div class="single-note-card-btn d-flex justify-content-evenly align-items-center">
                        <button class="check-course btn btn-primary "><a href="./coursepages.html?id=1&sort=timer">查看課程</a></button>
                        <div class="vertical-line"></div>
                        <button class="go-comment btn btn-outline-primary"><a href="./comment.html?courseId=1">完課評價</a></button>
                      </div>
                    </div>
                    </div>
                  </div>
                  <div class="notebook-card-frame position-relative">
                    <div class="card single-note-card mb-3">
                    <div class="row g-0">
                      <div class="col-4 card-row">
                        <img src="../assets/images/course-001-code.jpeg" class="img-fluid rounded-start" alt="cover of course">
                      </div>
                      <div class="col-8">
                        <div class="card-body pb-1">
                          <h2 class="card-title fs-6 text-truncate">使用HTML、CSS開發一個網站</h2>
                          <div class="user-courses-tags d-flex flex-wrap gap-2 mb-2 mb-lg-3">
                            <span class="card-text fs-8">#程序</span>
                          </div>
                          <div class="stars d-flex justify-content-end">
                            <div class="stars-icon text-primary me-1 me-md-2">
                                <span class="material-symbols-outlined star-fs">star</span>
                                <span class="material-symbols-outlined star-fs">star</span>
                                <span class="material-symbols-outlined star-fs">star</span>
                                <span class="material-symbols-outlined star-fs">star</span>
                                <span class="material-symbols-outlined outline-icon star-fs">star</span>
                            </div>
                            <span class="text-gray-400 small">(666)</span>
                          </div>
                        </div>
                      </div>
                      <div class="single-note-card-btn d-flex justify-content-evenly align-items-center">
                        <button class="check-course btn btn-primary "><a href="./coursepages.html?id=1&sort=timer">查看課程</a></button>
                        <div class="vertical-line"></div>
                        <button class="go-comment btn btn-outline-primary"><a href="./comment.html?courseId=1">完課評價</a></button>
                      </div>
                    </div>
                    </div>
                  </div> -->
                </div>
                <!-- 分頁按鈕 -->
                <!-- <div class="d-none d-lg-block justify-content-lg-start">
                  <button class="btn btn-secondary px-2 py-1 mt-3 small" disabled>上一頁</button>
                </div> -->
              </div>

              <div class="boot-right notebook-page-innersection col-lg-6 col-12">
                <!-- <div class="notebook-cards-group">
                  <div class="notebook-card-frame position-relative">
                    <div class="card single-note-card mb-3">
                    <div class="row g-0">
                      <div class="col-4 card-row">
                        <img src="../assets/images/course-001-code.jpeg" class="img-fluid rounded-start" alt="cover of course">
                      </div>
                      <div class="col-8">
                        <div class="card-body pb-1">
                          <h2 class="card-title fs-6 text-truncate">使用HTML、CSS開發一個網站</h2>
                          <div class="user-courses-tags d-flex flex-wrap gap-2 mb-2 mb-lg-3">
                            <span class="card-text fs-8">#程序</span>
                          </div>
                          <div class="stars d-flex justify-content-end">
                            <div class="stars-icon text-primary me-1 me-md-2">
                                <span class="material-symbols-outlined star-fs">star</span>
                                <span class="material-symbols-outlined star-fs">star</span>
                                <span class="material-symbols-outlined star-fs">star</span>
                                <span class="material-symbols-outlined star-fs">star</span>
                                <span class="material-symbols-outlined outline-icon star-fs">star</span>
                            </div>
                            <span class="text-gray-400 small">(666)</span>
                          </div>
                        </div>
                      </div>
                      <div class="single-note-card-btn d-flex justify-content-evenly align-items-center">
                        <button class="check-course btn btn-primary "><a href="./coursepages.html?id=1&sort=timer">查看課程</a></button>
                        <div class="vertical-line"></div>
                        <button class="go-comment btn btn-outline-primary"><a href="./comment.html?courseId=1">完課評價</a></button>
                      </div>
                    </div>
                    </div>
                  </div>
                  <div class="notebook-card-frame position-relative">
                    <div class="card single-note-card mb-3">
                    <div class="row g-0">
                      <div class="col-4 card-row">
                        <img src="../assets/images/course-001-code.jpeg" class="img-fluid rounded-start" alt="cover of course">
                      </div>
                      <div class="col-8">
                        <div class="card-body pb-1">
                          <h2 class="card-title fs-6 text-truncate">使用HTML、CSS開發一個網站</h2>
                          <div class="user-courses-tags d-flex flex-wrap gap-2 mb-2 mb-lg-3">
                            <span class="card-text fs-8">#程序</span>
                          </div>
                          <div class="stars d-flex justify-content-end">
                            <div class="stars-icon text-primary me-1 me-md-2">
                                <span class="material-symbols-outlined star-fs">star</span>
                                <span class="material-symbols-outlined star-fs">star</span>
                                <span class="material-symbols-outlined star-fs">star</span>
                                <span class="material-symbols-outlined star-fs">star</span>
                                <span class="material-symbols-outlined outline-icon star-fs">star</span>
                            </div>
                            <span class="text-gray-400 small">(666)</span>
                          </div>
                        </div>
                      </div>
                      <div class="single-note-card-btn d-flex justify-content-evenly align-items-center">
                        <button class="check-course btn btn-primary "><a href="./coursepages.html?id=1&sort=timer">查看課程</a></button>
                        <div class="vertical-line"></div>
                        <button class="go-comment btn btn-outline-primary"><a href="./comment.html?courseId=1">完課評價</a></button>
                      </div>
                    </div>
                    </div>
                  </div>
                  <div class="notebook-card-frame position-relative">
                    <span class="comment-alerttag bg-danger small text-white rounded-1 py-1 px-3 position-absolute">未過審</span>
                    <div class="card single-note-card mb-3">
                      <div class="row g-0">
                        <div class="col-4 card-row">
                          <img src="../assets/images/course-002-code.jpeg" class="img-fluid rounded-start" alt="cover of course">
                        </div>
                        <div class="col-8">
                          <div class="card-body pb-1">
                            <h2 class="card-title fs-6 text-truncate">JavaScript 核心篇</h2>
                            <div class="user-courses-tags d-flex flex-wrap gap-2 mb-2 mb-lg-3">
                            <span class="card-text fs-8">#程序</span>
                            </div>
                            <div class="stars d-flex justify-content-end">
                              <div class="stars-icon text-primary me-1 me-md-2">
                                  <span class="material-symbols-outlined star-fs">star</span>
                                  <span class="material-symbols-outlined star-fs">star</span>
                                  <span class="material-symbols-outlined star-fs">star</span>
                                  <span class="material-symbols-outlined star-fs">star</span>
                                  <span class="material-symbols-outlined outline-icon star-fs">star</span>
                              </div>
                              <span class="text-gray-400 small">(666)</span>
                            </div>
                          </div>
                        </div>
                        <div class="single-note-card-btn d-flex justify-content-evenly align-items-center">
                          <button class="check-course btn btn-primary "><a href="./coursepages.html?id=1&sort=timer">查看課程</a></button>
                          <div class="vertical-line"></div>
                          <button type="button" class="btn btn-secondary modal-btn" data-bs-toggle="modal" data-bs-target="#course-comment" data-id="1">
                            我的評價
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="notebook-card-frame position-relative">
                    <div class="card single-note-card mb-3">
                      <div class="row g-0">
                        <div class="col-4 card-row">
                          <img src="../assets/images/course-003-code.jpeg" class="img-fluid rounded-start" alt="cover of course">
                        </div>
                        <div class="col-8">
                          <div class="card-body pb-1">
                            <h2 class="card-title fs-6 text-truncate">2023 Python全攻略</h2>
                            <div class="user-courses-tags d-flex flex-wrap gap-2 mb-2 mb-lg-3">
                            <span class="card-text fs-8">#程序</span>
                            </div>
                            <div class="stars d-flex justify-content-end">
                              <div class="stars-icon text-primary me-1 me-md-2">
                                  <span class="material-symbols-outlined star-fs">star</span>
                                  <span class="material-symbols-outlined star-fs">star</span>
                                  <span class="material-symbols-outlined star-fs">star</span>
                                  <span class="material-symbols-outlined star-fs">star</span>
                                  <span class="material-symbols-outlined outline-icon star-fs">star</span>
                              </div>
                              <span class="text-gray-400 small">(666)</span>
                            </div>
                          </div>
                        </div>
                        <div class="single-note-card-btn d-flex justify-content-evenly align-items-center">
                          <button class="check-course btn btn-primary "><a href="./coursepages.html?id=1&sort=timer">查看課程</a></button>
                          <div class="vertical-line"></div>
                          <button type="button" class="btn btn-secondary modal-btn" data-bs-toggle="modal" data-bs-target="#course-comment" data-id="1">
                            我的評價
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div> -->

                <!-- 分頁按鈕 -->
                <!-- <div class="d-flex justify-content-between justify-content-lg-end">
                  <div class="d-lg-none">
                    <button class="btn btn-secondary px-2 py-1 mt-3 small" disabled>上一頁</button>
                  </div>
                  <button class="btn btn-secondary px-2 py-1 mt-3 small">下一頁</button>
                </div> -->

              </div>
            </section>
          </div>
        </article>
        <div class="box-shadow"></div>
      </main>

      <!-- 我的評論 modal -->
      <div class="modal fade" id="course-comment" tabindex="-1" aria-labelledby="couse-comment" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered comment-modal">
          <!-- 評價主題 comment-style0:便條紙 comment-style1:書籤 -->
        </div>
      </div>
    <%- include('./layout/footer'); -%>
  </div>

  <script type="module" src="../main.js"></script>
  <script type="module" src="../assets/js/user_nav.js"></script>
  <script type="module" src="../assets/js/user_courses.js"></script>
</body>

</html>